<div id="login-wrap" data-role="page" data-theme="a">
	<div id="login" class="current">	
		<div id="logo" class="text-center">
            <h1 class="ir">QuickD</h1>
        </div>
        <div class="scroll">
			<form id="login" method="post" data-ajax="false">
				<input type="hidden" name="action" value="login"/>
				<input type="text" placeholder="Brugernavn" id="user" name="email"/>
				<input type="password" placeholder="Adgangskode" id="password" name="password" />
				<input type="submit" class="button" value="Log ind" />
			</form>	                
        </div>
        
        <footer class="text-center">
        	<a href="mailto:mail@quickd.dk">mail@quickd.dk</a>
        </footer>
    </div>
</div>