<div id="deals" data-role="page" data-theme="a">
	<div id="deal" class="current">
    	<div data-role="header" data-position="fixed">
            <h1>QuickD Mini</h1>
            <a class="button" id="logout" href="./index.php?action=logout" data-theme="b">Log ud</a>
        </div>
        <div class="scroll">
        	
        	<article data-role="content">
    			
    			<section class="deals">
    				<nav id="deal-slider" class="royalSlider iskin">
    					<ul class="royalSlidesContainer">
								<?php if(!empty($deals)){ foreach ($deals as $id => $deal): ?>
								<li class="royalSlide">
    							<article class="deal" id="template-<?= $id ?>" templateId="<?= $id ?>" started="true" endtime="<?= $deal->end ?>">
					            	<img class="imageItem left" src="<?= IMAGES_URL ?>thumbnail/<?= $deal->image ?>" height="100%" />
					                <div class="slideTextBlock">
					                    <h4><?= $deal->title ?></h4>
					                    <p>Før: <span class="amount"><?= $deal->orig_price ?>,-</span> / Nu: <span class="amount"><?= $deal->deal_price ?>,-</span></p>
					                </div>
					            </article>
    						</li>
								<?php endforeach; }?>
    						<?php foreach ($templates as $id => $temp): ?>
    						<li class="royalSlide">
    							<article class="deal" id="template-<?= $id ?>" templateId="<?= $id ?>" started="false">
					            	<img class="imageItem left" src="<?= IMAGES_URL ?>thumbnail/<?= $temp->image ?>" height="100%" />
					                <div class="slideTextBlock">
					                    <h4><?= $temp->title ?></h4>
					                    <p>Før: <span class="amount"><?= $temp->orig_price ?>,-</span> / Nu: <span class="amount"><?= $temp->deal_price ?>,-</span></p>
					                </div>
					            </article>
    						</li>
    						<?php endforeach; ?>
    					</ul>
    				</nav>
    			</section>
    			
    			<section id="time" class="time text-center">
    				<div id="timewrap">
        				<time id="countdownTimer"></time>
        				<form>
						   <input type="range" name="hours-slider" id="hours-slider" value="12" min="4" max="40" data-theme="a"  />
						</form>
					</div>
				</section>
				
				<a href="#" data-role="button" class="start-stop-deal" data-theme="a">Start deal!</a>
			</article>
    		
		</div>
	</div>
</div>