<div id="site_conditions">
    <div class="title">
   		<img src="./styles/stylesheets/i/quickd-logo-113x33.png" class="logo" />
    	Vilkår og betingelser
    </div>
    <div class="details">
    	<h1></h1>
        <p>
           Da vi ikke er åbnet helt op endnu, har vi ikke vilkårene på plads. <br/><br/>
           Men du kan trygt registrere dig, vi sender dem til dig når de er klar, så kan du til enhver tid bakke ud.<br/>
           Bare rolig de bliver ikke så slemme :-) 
        </p>
    </div>
    
 </div>