<div id="refill_dialog">
    <div class="title">
   		<img src="<%= ROOT_URL %>styles/stylesheets/i/quickd-logo-113x33.png" class="logo" />
    	Optank timer    
    </div>
    <div class="details">
    	<div class="head">- Gratis i opstartsfasen -</div>
        <br />
        På sigt bliver QuickD en betalingsservice. Det betyder, at deals vil koste en fast timepris.<br />
        <br />
        Men ingen bekymringer: Indtil videre kan du frit starte alle de deals, du har lyst til.
        <br /><br/>
        Du kan desuden spare dealtimer op til senere brug, så du kan forlænge den gratis periode, selv efter QuickD er blevet en betalingsservice. 
        Alt det kræver er, at du hjælper os med at gøre QuickD endnu bedre:<br /><br />
        Giv os konstruktiv feedback, og vi belønner dig med gratis dealtimer til fremtidigt brug.
        
        <!--<div class="go_button" id="btn_accept">Luk</div>-->
        
    </div>
    
 </div>