<div id="treasure_readmore">
    <div class="title">
   		<img src="<%= ROOT_URL %>styles/stylesheets/i/logo_transparent.png" class="logo" />
    	Skattejagten hos QuickD
    </div>
    <div class="details">
    	<div class="head">
    	
    	</div>
    	Vores ønske er at din forretning bliver fyldt hurtigst muligt. Med skattejagten udlodder du en skat efter ”først til mølle”-princippet, hvilket gør din deal ekstra attraktiv mens skatten er aktiv.
		<br/><br/>
		Skatten er automatisk aktiv i den første halve time af deal’en, og du sørger selv for at give skatten væk til den berettigede kunde.
		<br/><br/>
		Potentielle kunder kan se skatten på et kort, og har derfor ekstra incitament til at besøge din forretning – missionen for dem er at møde frem som de første, og dermed blive belønnet med skatten, som udgør ét stk. af den pågældende deal.
		<br/><br/>
		De kunder der ikke var så heldige at møde frem som de første, er forhåbentlig interesserede i at købe deal’en i stedet.
		<br/><br/>
		Udover at skabe ekstra opmærksomhed til din butik, giver vi dig ligeledes 1 gratis deal-time, hvis du aktiverer skattejagten. Opsparede deal-timer vil kunne bruges, når QuickD lanceres offentligt
 </div>