@import "compass";
@import "compass/css3"; /* Så slipper vi for manuelt at kode vendor prefixes */
@import "compass/layout/stretching";
@import "compass/reset";
@import "compass/css3/images";

body {
	background: url('i/gray_noise.png');
}

.wrapper {
	position: relative;
	width: 100%;
	margin-top: 50px;
}

#logo {
	background: url('i/quickd-logo-185x47.png');
	width: 185px;
	height: 47px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#enterNewPassword {
	position: relative;
	background: white;
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding: 20px;
	width: 280px;
	height: 80px;
	background: white;

	@include box-shadow(0px 1px 2px rgba(0,0,0,0.3));
	@include border-radius(5px);

	label {
		font-weight: bold;
		float: left;
		clear: both;
		font-size: 13px;
		margin-bottom: 5px;
		margin-top: 15px;
		color: rgba(0,0,0,0.6);
		font-family: Helvetica, Arial, sans-serif;

		input[type="checkbox"] {
			margin-right: 7px;
		}

		a {
			font-weight: bold;
			font-size: 12px;
			margin-left: 4px;
			color: #2E73BC;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		small {
			color: rgba(0,0,0,0.4);
			font-size: 12px;
			margin-left: 7px;
			font-weight: normal;
		}
	}

	.field {
		width: 260px;
		clear: both;
		display: inline;

		input[type="text"], input[type="password"] {
			width: 185px;
			border: 1px solid #CCC;
			@include border-radius(3px);
			@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.2));
			color: rgba(0,0,0,0.8);
			font-size: 13px;
			outline: none;
			padding: 6px;
			-moz-transition: border .2s linear, box-shadow .2s linear;
			-webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
		}

		input[type="text"]:focus, input[type="password"]:focus {
			border: 1px solid #59CCD9;
			@include box-shadow(0 0px 3px rgba(134, 218, 227, 0.7), inset 0 1px 2px rgba(0,0,0,0.2));
		}

		button {
			float: right;
			line-height: 23px;
			padding-left: 8px;
			padding-right: 8px;
			cursor: pointer;
			@include border-radius(3px);
			outline: none;
			font-weight: bold;
			font-size: 13px;
			color: #2E2826;
			@include text-shadow(0 1px 1px rgba(255,255,255,0.8));
			@include box-shadow(inset 0 1px 1px rgba(255,255,255,0.8));

			display: inline;
			border: 1px solid #FD9A0F;

			// needs latest Compass, add '@import "compass"' to your scss
			background-color: rgb(234,232,121); // Old browsers
			@include filter-gradient(#eae879, #fd9a0f, vertical); // IE6-9
			@include background-image(linear-gradient(top,  rgba(234,232,121,1) 0%,rgba(253,154,15,1) 100%));
		}

		button:hover {
			background-color: rgb(234,232,121); // Old browsers
			@include filter-gradient(#eae879, #fd9a0f, vertical); // IE6-9
			@include background-image(linear-gradient(top,  rgba(234,232,121,1) 0%,rgba(253,154,15,0.7) 100%));
		}

		button:active {
			@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.5));
		}
	}

}