<div class="title"><h1>Ny skabelon</h1></div>
<div class="body-area spacing">
	<div style="position: relative; height: 100%;">
		<form name="new_template" id="new_template">
		<div class="field top">
		 	<div class="label long">Titel</div>
			<div class="data long"><input type="text" name="title" id="title" /></div>
		</div>
		<div class="field bottom">
		    <div class="label long">Beskrivelse</div>
		    <div class="data long"><textarea name="description" id="description" title="Beskriv tilbuddet så præcist som muligt"></textarea></div>
		</div>
		<div class="field">
	  	  <div class="select-img-box clearfix">
	   	 	<div class="image-field empty" id="image-field"><p>Billede</p></div>
	   	     <div id="btn_select_image" class="button blue">Vælg billede</div>
	   	     <input type="hidden" name="img_src" id="img_src" value="" />
	    	</div>
	    </div>
	    
	<!--	<div class="prices">
		    <div class="inputs">
		        <div class="field">
		            <div class="label">Før-pris:</div>
		            <div class="data">kr.
		                <input type="text" id="orig_price" name="orig_price"class="big" title="Indtast værdien af den solgte vare"/></div>
		            <div class="clearline"></div>
		        </div>
		        <div class="field">
		            <div class="label">Deal-pris:</div>
		            <div class="data">kr.
		            	<input type="text" name="deal_price" id="deal_price" class="big" title="Indtast deal-prisen" /></div>
		            <div class="clearline"></div>
		        </div>
		    </div>
	        
		    <div class="discount">
		    	<span class="label">Spar</span>
		        <span class="value" id="discount-amount">-</span>
		        
		    </div>-->
		    
		<div class="field top">
		<!--<div class="prices">-->
			<div class="inputs">
		        <div class="field neutral">
		            <div class="label">Førpris:</div>
		            <div class="data">kr.
		                 <input type="text" id="orig_price" name="orig_price" class="big" /></div>
		            <div class="clearline"></div>
		        </div>
		    </div>
		 </div>
		 <div class="field bottom">
		        <div class="field neutral">
		            <div class="label">Dealpris:</div>
		            <div class="data">kr.
		            	<input type="text" name="deal_price" id="deal_price" class="big" /></div>
		            <div class="clearline"></div>
		        </div>
		        <div id="prices-error" />
		   		<div id="prices-toolTip" />
		 </div>

		    <div class="field">
		  	  <div class="label long">Kategori</div>
		  	  <div class="data long categories">
		  	  	<div class="category selected" id="cat_fooddrink">Mad og drikke</div>
		  	  	<div class="category" id="cat_experience">Oplevelser</div>
		  	  	<div class="category" id="cat_shopping">Shopping</div>
		  	  	<div class="category" id="cat_other">Andet</div>
		  	  </div>
		    </div>
		    <div class="clearline" />
		    
		    <div id="btn_submit_add_template" class="go_button" style="position: relative;">Gem</div>
		</div>
		</form>
	</div>
</div>