<div class="title"><h1>Feedback</h1></div><!-- item.hours = -->
<div class="body-area">
	<div id="feedback-window">
        <div id="feedback-messages">
        <% _.each(data,function(item,i){ %>
	            <%
	            	if (item.type === "response") {
	            %>
	            <div class="bubble left green" id="feedback-<%= i %>">
	            <%
	            	}else{
	            %>
	            <div class="bubble right white" id="feedback-<%= i %>">
	            <%
	            	}
	            %>
	                <%= item.message %>
	                <small><%= getTimeString(item.timestamp*1000,1) %>
	               	<%
	            	if (item.type === "response") {
		            %>
					- QuickD
					<%
						}
						else if (item.type === "sent") {
					%>
					- <%=App.collections.shops.models[0].attributes.name %>
					<% } %>
	                </small>
	            </div>
        <% }); %>
        </div>
        <div id="feedback-text">
            <form>
                <textarea id="feedback-textfield" name="feedback-textfield"></textarea>
                <div id="feedback-send-btn" class="button blue" ></div>
            </form>
        </div>
    </div>
</div>