<form name="edit_shop" id="edit_shop">
	<div class="title">
	<div style="position: absolute; left: 0px;" id="shop_title_buttons">
		<button  class="button add" value="Rediger" id="btn_edit_shop">Rediger</button>
		<button class="button add grey" id="btn_cancel_shop" style="display: none;">Annuller</button>
	</div>
	<h1>Butik</h1>
	</div>
	<div class="body-area spacing">
		<div class="field top">
			<div class="label">Navn</div>
			<div class="data"><input type="text" id="<%=data.prefix %>name" name="<%=data.prefix %>name" attri="name" value="<%= data.attributes.name %>" oldValue="<%= data.attributes.name %>" class="readonly" readonly/></div>
		</div>
		
		<div class="field middle">
			<div class="label">Telefon</div>
			<div class="data"><input type="text" id="<%=data.prefix %>phone" name="<%=data.prefix %>phone" attri="phone" value="<%= data.attributes.phone %>" oldValue="<%= data.attributes.phone %>" class="readonly" readonly /></div>
		</div>
		
		<div class="field middle">
			<div class="label">Webside</div>
			<div class="data"><input type="text" id="<%=data.prefix %>website" name="<%=data.prefix %>website" attri="website" value="<%= data.attributes.website %>" oldValue="<%= data.attributes.website %>" class="readonly" readonly /></div>
		</div>
		
		<div class="field bottom">
			<div class="label">Email</div>
			<div class="data"><input type="text" id="<%=data.prefix %>email" name="<%=data.prefix %>email" attri="email" value="<%= data.attributes.email %>" oldValue="<%= data.attributes.email %>" class="readonly" readonly /></div>
		</div>
		<div class="field">
		    <div class="label long">Åbningstider</div>
		    <div class="data long"><textarea id="<%=data.prefix %>other" name="<%=data.prefix %>other" class="readonly" oldValue="<%= data.attributes.other %>" title="Indtast butikkens åbningstider samt yderligere information, der kunne have interesse for kunden" readonly ><%= data.attributes.other %></textarea></div>
		</div>
	</div>
</form>