<div id="header">
	<div class="logo" id="logo_top"></div>
    <div id="navigation">
    	<div class="account">
        	<a href="<%= ROOT_URL %>?logout" class="logout header_btn">Log ud</a>
            <span class="username"><%= data.email %></span>
        </div>
        <div class="account_value">
        	<div class="hours"><div id="analogueclock"></div><%= data.hours %> timer</div>
            <div class="refill_btn blue button" id="btn_refill">Tank op</div>
        </div>
   </div>
</div>
<div id="workspace">	
    <nav id="menu">
    	<ul>
    		<li id="btn_startdeals" class="menu_icon"><a>Planlæg deal</a></li>
    		<li id="btn_templates" class="menu_icon"><a>Skabeloner</a></li>
    		<li id="btn_overview" class="menu_icon"><a>Oversigt</a></li>
    		<li id="btn_administration" class="menu_icon"><a>Administration</a></li>
    	</ul>
    </nav>
    <div id="activities"></div>	
</div>
<!--<div id="footer">-->
	<!--<div id="footer-links">
    	<span id="btn_read_conditions">Betingelser</span>|<a href="mailto:mail@quickd.dk">mail@quickd.dk</a>
    </div>
	<span class="copyright">Copyright © <%='2011-'+new Date().getFullYear()%> QuickD. All rights reserved.</span>-->
<!--</div>-->