<div id="entry_view">
	<div class="header" id="header-login">
		<img src="./styles/stylesheets/i/beta_new.png" style="position: absolute; left: 0px; top: 0px;" />
		
		<div style="position: absolute; width: 100%; height: 100%">
			<div style="position: relative; top: 50%; width: 100%; margin-top: -124px;" id="position_wrapper">
					<div style="width: 500px; height:350px; background-color: white; position: absolute; left: 50%; margin-left: -250px; display: none; z-index: 0; margin-top: -30px; border-radius: 8px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);" id="register_background"></div>
					<div style="z-index: 50;">
					    <div style="z-index: 100; background: url('./styles/stylesheets/i/quickd-logo-185x47.png'); width: 185px; height: 47px; position: relative; left: 50%; margin-left: -93px"></div>
					    <div class="login_fields" id="login_fields" style="position: absolute; left: 50%; margin-left: -203px;">
					   	  		<h1>Forhandleradgang</h1>
						        <div id="shadow-wrapper">
							        <div class="field">
							        	<div class="input-wrapper" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
							            	<input name="user" class="above" type="text" id="login_username" class="above" autocomplete="off" hideLabel="E-mail" style="border-radius: 0px;" />
							            </div>
							        </div>
							        <div class="field">
							        	<div class="input-wrapper" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
							           		<input name="password" type="password" id="login_password" autocomplete="off" hideLabel="Adgangskode"/>
							           	</div>
							        </div>
							      </div>
						        <div class="login_button" id="login_button"></div>
					    </div>
					    <div id="registrer" style="display: none; position: absolute; right: -50%;">
						    <div style="z-index: 100; margin-top: 20px;"><h1>Registrer forretning</h1></div>
							<div class="register_fields">
								<label for="email">E-mail<small>Har du allerede en konto?<a href="#" id="cancel_register_button">Log ind</a></small></label>
							    <div class="field">
							    	<div class="input-wrapper">
							        	<input name="register_user" type="text" id="register_username" autocomplete="off" />
							        </div>
							    </div>
							    <label for="password">Ønsket adgangskode<small>Min. 6 tegn</small></label>
							    <div class="field">
							    	<div class="input-wrapper">
							       		<input name="register_password" type="password" id="register_password" autocomplete="off" />
							       	</div>
							    </div>
							    <label for="betakey">Betanøgle</label>
							    <div class="field">
							    	<div class="input-wrapper">
							       		<input name="register_betacode" type="text" id="betacode" autocomplete="off" />
							       	</div>
							    </div>
							    <label for="terms" class="keep_inline"><input type="checkbox" id="accept_terms">Jeg accepterer<a id="btn_read_conditions" href="#">betingelserne</a></label>
							    <div class="field">
							    	<button id="do_register_button">Registrer</button>
							    </div>
							</div>
						</div>
					</div>
				
			</div>
		</div>
	</div>
	<div class="footer" id="footer-login">
		<div class="wrapper">
			<div class="box_left" id="mobile">
				<img src="./styles/stylesheets/i/mobile_app.png" />
				<h1>QuickD. <em>Overalt.</em></h1>
				<p>Nu kan du starte deals direkte fra mobilen!<br/><br/>
				Alle godkendte skabeloner kan startes med et enkelt tryk, uanset hvor du befinder dig.<br/><br/>
				Alt du skal gøre er at besøge <em>forhandler.quickd.dk</em> fra din iPhone eller Android-baserede enhed.</p>
				<br/><br/><br/>
			</div>
			<div class="box_right" id="register">
				<img src="./styles/stylesheets/i/keys.png" />
				<h1>Sådan kommer du igang.</h1>		
				<p>Er du en af de heldige der har modtaget en beta-invitation til QuickD, har du nu mulighed for at 
				registrere din forretning.
				<br/><br/>
				Det tager kun et par minutter at komme igang, og er fuld-stændig gratis
				og uforpligtende at benytte i beta-perioden. Det eneste du skal bruge er <em>din unikke
				nøgle</em>, der står skrevet i den invitation, du har modtaget.</p>
				<div class="register-shop-btn" id="go_register_button"></div>
				<a href="http://www.quickd.dk/">Læs mere om QuickD</a>
			</div>
		</div>
	</div>
	<div id="footer" class="entry_footer">
		<div id="footer-links">
			<span id="btn_forgot_pass">Glemt adgangskode</span>|
			<span id="btn_read_conditions">Betingelser</span>|
			<a href="mailto:mail@quickd.dk">mail@quickd.dk</a>
		</div>
		<span class="copyright">Copyright © 2011-<% print(new Date().getFullYear()); %> QuickD. All rights reserved.</span>
	</div>
</div>