<div id="feedback">
	<div id="feedback_text">Feedback</div>
	<div id="feedback-thanks" style="display:none;">
		<h2 class="thanks">Mange tak for din feedback.</h2>
		<h2 class="thanks">Vi ser på den hurtigst muligt</h2>
	</div>
	<div style="display:none; position: relative; text-align: center; font-weight:600;">
		<h2 class="header" style="padding:6px;">Giv os feedback og <a id="read_more">optjen gratis timer</a>!</h2>
		<textarea id="feedback_text_area"></textarea>
		<!--<input type="button" value="Send feedback" id="btn_send_feedback"/>-->
		<button class="blue button feedback" id="btn_send_feedback">Send</button>
		<!--<button id="read_more" class="grey button">Læs mere</button>-->
	</div>
</div>
