/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Så slipper vi for manuelt at kode vendor prefixes */
/* Gradient backgrounds */
/* line 11, ../sass/ie.scss */
.dialog {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE2E2E2');
}
/* line 13, ../sass/ie.scss */
.dialog.black {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF383737', endColorstr='#FF212020');
}

/* line 15, ../sass/ie.scss */
.window {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF373737', endColorstr='#FF121212');
}

/* line 19, ../sass/ie.scss */
.button.grey {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFA5A5A5');
}
/* line 22, ../sass/ie.scss */
.button.add {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF333333', endColorstr='#FF000000');
}
/* line 24, ../sass/ie.scss */
.button.add:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF333333', endColorstr='#FF161616');
}
/* line 25, ../sass/ie.scss */
.button.add:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF333333');
}
/* line 27, ../sass/ie.scss */
.button.blue {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF049CDB', endColorstr='#FF0064CD');
}
/* line 29, ../sass/ie.scss */
.button.blue:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF049CDB', endColorstr='#FF006FE5');
}
/* line 30, ../sass/ie.scss */
.button.blue:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0064CD', endColorstr='#FF049CDB');
}
/* line 32, ../sass/ie.scss */
.button.green {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5E961B', endColorstr='#FF3A6B09');
}
/* line 34, ../sass/ie.scss */
.button.green:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5E961B', endColorstr='#FF437511');
}
/* line 37, ../sass/ie.scss */
.button.red {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEA5F55', endColorstr='#FFC43F31');
}
/* line 39, ../sass/ie.scss */
.button.red:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEA5F55', endColorstr='#FFD8533B');
}
/* line 40, ../sass/ie.scss */
.button.red:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC43F31', endColorstr='#FFEA5F55');
}

/* line 44, ../sass/ie.scss */
.status-label.green {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9ED196', endColorstr='#FF9ED196');
}

/* line 45, ../sass/ie.scss */
.status-label.yellow {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4EE9A', endColorstr='#FFF4EE9A');
}

/* line 46, ../sass/ie.scss */
.status-label.red {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF29C9B', endColorstr='#FFF29C9B');
}

/* line 47, ../sass/ie.scss */
#feedback {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCECECE', endColorstr='#FF999999');
}

/* line 48, ../sass/ie.scss */
#feedback-text {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFC6C6C6');
}

/* line 50, ../sass/ie.scss */
.tab-bar {
  cursor: pointer;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4F4F4', endColorstr='#FFD1D1D1');
}
/* line 54, ../sass/ie.scss */
.tab-bar .tab-link:hover {
  background: #D6D6D6;
}
/* line 55, ../sass/ie.scss */
.tab-bar .tab-link.selected {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCDCDCD', endColorstr='#FF909090');
}

/* line 59, ../sass/ie.scss */
.text-bubbles .bubble {
  border: 1px solid #acacac;
}
/* line 62, ../sass/ie.scss */
.text-bubbles .bubble.white {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0F0F0', endColorstr='#FFA6A6A6');
}
/* line 64, ../sass/ie.scss */
.text-bubbles .bubble.white:after {
  background: none;
}
/* line 66, ../sass/ie.scss */
.text-bubbles .bubble.green {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA3E666', endColorstr='#FF6FC620');
}
/* line 68, ../sass/ie.scss */
.text-bubbles .bubble.green:after {
  background: none;
}

/* Menu */
/* line 74, ../sass/ie.scss */
#menu {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF373737', endColorstr='#FF121212');
}
/* line 78, ../sass/ie.scss */
#menu .menu_icon {
  border-bottom: 1px solid #5D5D5D;
}
/* line 81, ../sass/ie.scss */
#menu .menu_icon:hover {
  background-color: #464646;
}
/* line 84, ../sass/ie.scss */
#menu .menu_icon:active {
  border-bottom: 1px solid black;
}
/* line 87, ../sass/ie.scss */
#menu .menu_icon.selected {
  background-color: #595959;
}
/* line 93, ../sass/ie.scss */
#menu .menu_icon.disabled:hover {
  background-color: inherit;
  border-bottom: 1px solid #5D5D5D;
}
/* line 97, ../sass/ie.scss */
#menu .menu_icon.disabled:active {
  border-bottom: 1px solid #5D5D5D;
}

/* line 104, ../sass/ie.scss */
#entry_view .header .login_fields .field input {
  line-height: 70px;
}
