@charset "CP850";
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Compass main file. Shared variables */
/* Så slipper vi for manuelt at kode vendor prefixes */
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	Image positions
*/
@-webkit-keyframes bluePulse {
  /* line 358, ../sass/_base.scss */
  from {
    -webkit-box-shadow: 0px 0px 9px transparent;
    -moz-box-shadow: 0px 0px 9px transparent;
    box-shadow: 0px 0px 9px transparent;
  }

  /* line 359, ../sass/_base.scss */
  50% {
    -webkit-box-shadow: 0px 0px 30px #236fba;
    -moz-box-shadow: 0px 0px 30px #236fba;
    box-shadow: 0px 0px 30px #236fba;
    opacity: 0.8;
    text-shadow: 0 0 10px white;
  }

  /* line 360, ../sass/_base.scss */
  to {
    -webkit-box-shadow: 0px 0px 9px transparent;
    -moz-box-shadow: 0px 0px 9px transparent;
    box-shadow: 0px 0px 9px transparent;
  }
}

@-moz-keyframes bluePulse {
  /* line 358, ../sass/_base.scss */
  from {
    -webkit-box-shadow: 0px 0px 9px transparent;
    -moz-box-shadow: 0px 0px 9px transparent;
    box-shadow: 0px 0px 9px transparent;
  }

  /* line 359, ../sass/_base.scss */
  50% {
    -webkit-box-shadow: 0px 0px 30px #236fba;
    -moz-box-shadow: 0px 0px 30px #236fba;
    box-shadow: 0px 0px 30px #236fba;
    opacity: 0.8;
    text-shadow: 0 0 10px white;
  }

  /* line 360, ../sass/_base.scss */
  to {
    -webkit-box-shadow: 0px 0px 9px transparent;
    -moz-box-shadow: 0px 0px 9px transparent;
    box-shadow: 0px 0px 9px transparent;
  }
}

@-ms-keyframes bluePulse {
  /* line 358, ../sass/_base.scss */
  from {
    -webkit-box-shadow: 0px 0px 9px transparent;
    -moz-box-shadow: 0px 0px 9px transparent;
    box-shadow: 0px 0px 9px transparent;
  }

  /* line 359, ../sass/_base.scss */
  50% {
    -webkit-box-shadow: 0px 0px 30px #236fba;
    -moz-box-shadow: 0px 0px 30px #236fba;
    box-shadow: 0px 0px 30px #236fba;
    opacity: 0.8;
    text-shadow: 0 0 10px white;
  }

  /* line 360, ../sass/_base.scss */
  to {
    -webkit-box-shadow: 0px 0px 9px transparent;
    -moz-box-shadow: 0px 0px 9px transparent;
    box-shadow: 0px 0px 9px transparent;
  }
}

@-webkit-keyframes whitePulse {
  /* line 366, ../sass/_base.scss */
  from {
    -webkit-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }

  /* line 367, ../sass/_base.scss */
  50% {
    -webkit-box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }

  /* line 368, ../sass/_base.scss */
  to {
    -webkit-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }
}

@-moz-keyframes whitePulse {
  /* line 366, ../sass/_base.scss */
  from {
    -webkit-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }

  /* line 367, ../sass/_base.scss */
  50% {
    -webkit-box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }

  /* line 368, ../sass/_base.scss */
  to {
    -webkit-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }
}

@-ms-keyframes whitePulse {
  /* line 366, ../sass/_base.scss */
  from {
    -webkit-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }

  /* line 367, ../sass/_base.scss */
  50% {
    -webkit-box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 15px #bde8a2, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }

  /* line 368, ../sass/_base.scss */
  to {
    -webkit-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    -moz-box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
    box-shadow: 0 0 10px transparent, inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 2px #757575;
  }
}

/* Gradient backgrounds */
/* line 10, ../sass/ie.scss */
.dialog {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE2E2E2');
}
/* line 12, ../sass/ie.scss */
.dialog.black {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF383737', endColorstr='#FF212020');
}

/* line 14, ../sass/ie.scss */
.window {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF373737', endColorstr='#FF121212');
}

/* line 18, ../sass/ie.scss */
.button.grey {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFA5A5A5');
}
/* line 21, ../sass/ie.scss */
.button.add {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF333333', endColorstr='#FF000000');
}
/* line 23, ../sass/ie.scss */
.button.add:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF333333', endColorstr='#FF161616');
}
/* line 24, ../sass/ie.scss */
.button.add:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF333333');
}
/* line 26, ../sass/ie.scss */
.button.blue {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF049CDB', endColorstr='#FF0064CD');
}
/* line 28, ../sass/ie.scss */
.button.blue:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF049CDB', endColorstr='#FF006FE5');
}
/* line 29, ../sass/ie.scss */
.button.blue:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0064CD', endColorstr='#FF049CDB');
}
/* line 31, ../sass/ie.scss */
.button.green {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5E961B', endColorstr='#FF3A6B09');
}
/* line 33, ../sass/ie.scss */
.button.green:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5E961B', endColorstr='#FF437511');
}
/* line 36, ../sass/ie.scss */
.button.red {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEA5F55', endColorstr='#FFC43F31');
}
/* line 38, ../sass/ie.scss */
.button.red:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEA5F55', endColorstr='#FFD8533B');
}
/* line 39, ../sass/ie.scss */
.button.red:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC43F31', endColorstr='#FFEA5F55');
}

/* line 43, ../sass/ie.scss */
.status-label.green {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9ED196', endColorstr='#FF9ED196');
}

/* line 44, ../sass/ie.scss */
.status-label.yellow {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4EE9A', endColorstr='#FFF4EE9A');
}

/* line 45, ../sass/ie.scss */
.status-label.red {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF29C9B', endColorstr='#FFF29C9B');
}

/* line 46, ../sass/ie.scss */
#feedback {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCECECE', endColorstr='#FF999999');
}

/* line 47, ../sass/ie.scss */
#feedback-text {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFC6C6C6');
}

/* line 49, ../sass/ie.scss */
.tab-bar {
  cursor: pointer;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4F4F4', endColorstr='#FFD1D1D1');
}
/* line 53, ../sass/ie.scss */
.tab-bar .tab-link:hover {
  background: #D6D6D6;
}
/* line 54, ../sass/ie.scss */
.tab-bar .tab-link.selected {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCDCDCD', endColorstr='#FF909090');
}

/* line 58, ../sass/ie.scss */
.text-bubbles .bubble {
  border: 1px solid #acacac;
}
/* line 61, ../sass/ie.scss */
.text-bubbles .bubble.white {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0F0F0', endColorstr='#FFA6A6A6');
}
/* line 63, ../sass/ie.scss */
.text-bubbles .bubble.white:after {
  background: none;
}
/* line 65, ../sass/ie.scss */
.text-bubbles .bubble.green {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA3E666', endColorstr='#FF6FC620');
}
/* line 67, ../sass/ie.scss */
.text-bubbles .bubble.green:after {
  background: none;
}

/* Menu */
/* line 73, ../sass/ie.scss */
#menu {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF373737', endColorstr='#FF121212');
}
/* line 77, ../sass/ie.scss */
#menu .menu_icon {
  border-bottom: 1px solid #5D5D5D;
}
/* line 80, ../sass/ie.scss */
#menu .menu_icon:hover {
  background-color: #464646;
}
/* line 83, ../sass/ie.scss */
#menu .menu_icon:active {
  border-bottom: 1px solid black;
}
/* line 86, ../sass/ie.scss */
#menu .menu_icon.selected {
  background-color: #595959;
}
/* line 92, ../sass/ie.scss */
#menu .menu_icon.disabled:hover {
  background-color: inherit;
  border-bottom: 1px solid #5D5D5D;
}
/* line 96, ../sass/ie.scss */
#menu .menu_icon.disabled:active {
  border-bottom: 1px solid #5D5D5D;
}

/* line 103, ../sass/ie.scss */
#entry_view .header .login_fields .field input {
  line-height: 70px;
}
