RewriteEngine On
RewriteRule ^reset/([0-9a-fA-F]{32}) resetPassword.php?id=$1 [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule (.*) index.php [NC,L]
