<div class="title">
	<div style="position: absolute; left: 0px;">
		<button class="button add" id="btn_add_template"><img src="<%= ROOT_URL %>styles/stylesheets/i/plus.png" /></button>
	</div>
	<h1>Skabeloner</h1>
</div>

<div class="body-area list">

	<% _.each(data, function(item,i) { %>
		<% 
        	var special = "";
            if((_.size(data)-1) == i)  special = "last";
            else if (i == 0) special = "first";
            
            if (data.selectedLink && data.selectedLink == "template-"+item.id) special += " selected";
        %>
		<div class="template_item list-item <%=special%>" id="template-<%= item.id %>">
			<!--<div class="deal-img" style="background:url(<%=App.collections.images.getUrl(item.image, 'thumbnail')%>);"></div>-->
            <img src="<%=App.collections.images.getUrl(item.image, 'thumbnail')%>" <% if(special=='first') print('style="border-top-left-radius: 5px;"'); %>/>
		
			<div style="margin-left: 80px; padding-top: 5px; height: 75px; position: relative;">
					<% if (item.approved === "approved") { %>
						<div class="status-label green" title="Skabelonen er blevet godkendt"></div>
					<% } else if (item.approved === "waiting") { %>
						<div class="status-label yellow" title="Skabelonen afventer godkendelse"></div>
					<% } else if (item.approved === "declined") { %>
						<div class="status-label red" title="Skabelonen er desværre afvist. Klik, og se hvorfor"></div>
					<% } %>							
				<h2><%= item.title %></h2> 
				<div class="details">
					<span class="address">
						<%= item.description.trunc(45, true) %>
					</span>
				</div>
			</div>
		</div>
	<% }); %>
</div>
<!--<div class="body-area-overlay"></div>-->