/**
 * Background noise recipe
 * 
 * This recipe use a sass function to generate a .png file
 * 
 * Inspired by a jQuery plugin "Noisy" by Daniel Rapp @DanielRapp
 * @link https://github.com/DanielRapp/Noisy
 * 
 * Converted using Sass by Aaron Russell @aaronrussell & Philipp Bosch @philippbosch
 * @link https://gist.github.com/1021332
 * 
 * Ported to a sass gem by Antti Salonen @antsa
 * @link https://github.com/antsa/sassy_noise
 * 
 * Mixin:        background-noise
 * Function:     background_noise
 * 
 * @author Daniel Rapp @DanielRapp
 * @author Aaron Russell @aaronrussell
 * @author Philipp Bosch @philippbosch
 * @author Antti Salonen @antsa
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 *
 * @class Gradients
 * @author David Kaneda http://www.davidkaneda.com/
 *
 */
/**
 * Adds a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * Blueprint grid background pattern
 * 
 * @link http://lea.verou.me/css3patterns/#blueprint-grid
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Striped background pattern
 * 
 * @link http://lea.verou.me/css3patterns/
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com @davidkaneda for the sass mixin
 */
/**
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#tartan
 *
 * @author Marta Armada http://swwweet.com/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Carbon Fiber background pattern
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com/ for the Sass mixin
 *
 * @link http://lea.verou.me/css3patterns/
 *
 */
/**
 * Normalize.css
 * Opposite approche from CSS reset
 * 
 * Based on normalize.css commit 9576d48fc234c5224b1fc4dccba2f5965243843d
 *
 * @link http://github.com/necolas/normalize.css
 */
/* normalize.css 2011-07-12T10:51 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
/* =============================================================================
   Base
   ========================================================================== */
/* =============================================================================
   Links
   ========================================================================== */
/* =============================================================================
   Typography
   ========================================================================== */
/* =============================================================================
   Lists
   ========================================================================== */
/* =============================================================================
   Embedded content
   ========================================================================== */
/* =============================================================================
   Figures
   ========================================================================== */
/* =============================================================================
   Forms
   ========================================================================== */
/* =============================================================================
   Tables
   ========================================================================== */
/**
 *
 * @author David Kaneda - http://www.davidkaneda.com
 *
 */
/**
 * @class Color
 */
/**
 * Returns the brightness (out of 100) of a specified color.
 * @todo explain why this is useful
 * @param {color} $color The color you want the brightness value of
 * @return {measurement}
 */
/**
 * Returns the luminosity for a specified color
 * @todo explain why this is useful
 * @param {color} The color to check
 * @return {measurement}
 */
/**
 * Glass effect
 * Use this on image for better effect render
 * 
 * Inspired from Simurai's IMDB redisign
 *
 * @link http://lab.simurai.com/redesign/imdb
 * @thanks Simurai @simurai
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Scotch tape effect with pure CSS
 * 
 * @thanks Nick La @nickla for original concept
 * @link http://webdesignerwall.com/tutorials/css3-image-styles
 * 
 * @author David Kaneda http://www.davidkaneda.com
 *
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 * @todo Nix in .4
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Form element inline mixin
 * This mixin allow you to have a label inline with your input
 * It's simply based on inline-block behavior
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Vertical alignement for page
 * Inspired by http://css-tricks.com/snippets/css/center-div-with-dynamic-height/
 * 
 * Usage:
 * 
 * SCSS
 * @include vertical-align-requirement;
 * .v-align-container { @include vertical-align-container }
 * .v-align-content-container { @include vertical-align-content-container }
 * .v-align-content { @include vertical-align-content }
 * 
 * HTML
 * <body>
 *     <div class="v-align-container">
 *         <div class="v-align-content-container">
 *             <div class="v-align-content">
 *             Your content !
 *             </div>
 *         </div> 
 *     </div>
 * </body>
 *
 * @thanks Chris Coyier @chriscoyier
 * @autor Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Media Queries Mixins
 * 
 * @todo Do we have to take care of print ?
 * 
 * @require sass-3.2 (you need eventually to do "sudo gem install sass --pre")
 * @author Maxime Thirouin <maxime.thirouin@gmail.com>
 */
/*
$media-query-width-big: 1280px;
$media-query-width-medium: 960px;
$media-query-width-small: 480px;
*/
/**
 * Drop shadow mixins from Nicolas Gallagher demo
 * 
 * @thanks Nicolas Gallagher @necolas, @simurai, @cameronmoll, @matthamm
 * 
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow curled
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow curved
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow flying
 *
 * @thanks Geoffrey Crofte @geoffrey_crofte
 * @link http://www.creativejuiz.fr/trytotry/css3-box-shadow-after-before/
 */
/**
 * Drop shadow w/ lifted corners
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow w/ perspective
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow raised
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow rules required for transform on drop shadow
 * 
 * /!\ This is required if you want to apply some transform on the element using drop shadow
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Shadow along the top edge of the browser viewport
 * 
 * @link http://playground.genelocklin.com/depth/
 */
/**
* Shapes !
* Polygons, ellipses and symbols
* 
* @thanks Chris Coyier @chriscoyier
* @link http://css-tricks.com/examples/ShapesOfCSS/
* @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
*/
/**
 * Shape/Ellipse
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Hexagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Octagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Parallelogram
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Pentagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Rectangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Rhombus
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Square
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Star
 *
 * @todo check if setting a z-index by default is a good thing
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Trapezoid
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Triangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Diamond
 *
 * @todo add height support
 * 
 * @author Alexander Futekov
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Egg
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Heart
 * 
 * @author Nicolas Gallagher @necolas
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Infinity
 * 
 * @author Nicolas Gallagher @necolas
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Pacman
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Yin-yang
 *
 * @author Alexander Futekov
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Micro clearfix hack
 * 
 * The clearfix hack is a popular way to clear floats without resorting to using presentational markup. This article presents an update to the clearfix method that further reduces the amount of CSS required.
 * Known support: Firefox 2+, Safari 2+, Chrome, Opera 9.27+, IE 6+, IE Mac.
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * UI convex effect from one color
 *
 * @todo merge with ui-button ?
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * UI Glossy helper
 *
 * @deprecated
 * @todo Remove in 0.4
 * @see background/gradients
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * UI simple gradient from one color
 *
 * @todo merge with ui-button ?
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Triangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Keyboard key touch
 * A simple stylesheet for rendering beautiful keyboard-style elements.

 * @author Michael Hüneburg http://michaelhue.com/keyscss
 * @link https://github.com/michaelhue/keyscss (commit 76bb603e921d0145362e0f60eabb79d4f69cbda0)
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
*/
/**
 * Menu dropdown helper
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
*/
/**
 * Ui background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * <hr /> separator style
 *
 * @author Chris Coyier @chriscoyier
 * @link http://jsfiddle.net/chriscoyier/GaEzp/35/
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Micro clearfix hack
 * 
 * The clearfix hack is a popular way to clear floats without resorting to using presentational markup. This article presents an update to the clearfix method that further reduces the amount of CSS required.
 * Known support: Firefox 2+, Safari 2+, Chrome, Opera 9.27+, IE 6+, IE Mac.
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 *
 * @class Gradients
 * @author David Kaneda http://www.davidkaneda.com/
 *
 */
/**
 * Adds a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * @class Webfont Icon
 * Great to use with the [Pictos font](http://pictos.drewwilson.com/)
 * 
 */
/**
 * @cfg {color} $webfont-icon-base-color
 * The default color of icons when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `white`.
 */
/**
 * @cfg {color} $webfont-icon-default-stroke
 * The default color to use on the border of icons, when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `null`.
 */
/**
 * @cfg {string} $webfont-icon-default-gradient
 * The default gradient to use when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `matte`.
 */
/* line 41, ../compass-recipes/stylesheets/recipes/_webfont-icon.scss */
.webfont-icon-base {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  text-shadow: none;
  -webkit-user-select: none;
  user-select: none;
}

/**
 * Includes a character into the specified selector, styled as an icon.
 * 
 *     @include webfont-icon('a');
 * 
 * @param {color} $color
 * The color of the icon. Defaults to {@link #$webfont-icon-default-background $webfont-icon-default-background}.
 * 
 * @param {measurement} $size
 * The size of the icon
 * 
 * @param {color} $stroke
 * The color of the border. Defautls to {@link #$webfont-icon-default-border $webfont-icon-default-border}.
 * 
 * @param {boolean} $include-staes
 * True to include states for hover and active. Defaults to `true`.
 */
/* line 13, ../scss/apple.scss */
#jqt > * {
  background-color: #cbd2d8;
  background-image: -webkit-repeating-linear-gradient(left, transparent, transparent 1px, #c5cdd4 1px, #c5cdd4 7px);
  background-image: repeating-linear-gradient(left, transparent, transparent 1px, #c5cdd4 1px, #c5cdd4 7px);
}
/* line 23, ../scss/apple.scss */
#jqt .toolbar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92a3b9), color-stop(50%, #7f93ad), color-stop(51%, #768ba7), color-stop(100%, #6d83a1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -webkit-linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
}
/* line 34, ../scss/apple.scss */
#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
  color: #324f85;
}
/* line 39, ../scss/apple.scss */
#jqt ul .toggle input[type="checkbox"] {
  background: transparent url(../img/apple/on_off.png) 0 0 no-repeat;
}
/* line 43, ../scss/apple.scss */
#jqt ul input[type='submit'] {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#9c9ea0));
  border: 1px outset #aaa;
}
/* line 49, ../scss/apple.scss */
#jqt ul.edgetoedge li.sep {
  background-image: none;
  background-color: #cbd2d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeb9c2), color-stop(10%, #bcc5cd), color-stop(65%, #cbd2d8), color-stop(100%, #ccd3d9));
  background-image: -webkit-linear-gradient(top, #aeb9c2, #bcc5cd 10%, #cbd2d8 65%, #ccd3d9);
  background-image: linear-gradient(top, #aeb9c2, #bcc5cd 10%, #cbd2d8 65%, #ccd3d9);
  color: black;
  text-shadow: #e8ebee 0 1px 0;
  border-bottom: 1px solid #b5c1c9;
  border-top: 1px solid #b5c1c9;
}
/* line 57, ../scss/apple.scss */
#jqt ul.edgetoedge li, #jqt .metal li {
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 61, ../scss/apple.scss */
#jqt ul.edgetoedge li em {
  font-weight: normal;
  font-style: normal;
}
/* line 66, ../scss/apple.scss */
#jqt ul.metal li {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #9c9ea5;
  font-size: 26px;
  text-shadow: #fff 0 1px 0;
}
/* line 72, ../scss/apple.scss */
#jqt ul.metal li a:hover {
  color: #000;
}
/* line 75, ../scss/apple.scss */
#jqt ul.metal li em {
  color: #444;
}
/* line 80, ../scss/apple.scss */
#jqt .info {
  background: #dce1eb;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  color: #4c566c;
  border-top: 1px solid rgba(76, 86, 108, 0.3);
}
