@charset "CP850";
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Så slipper vi for manuelt at kode vendor prefixes */
/* line 11, ../sass/ie.scss */
#menu {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF373737', endColorstr='#FF121212');
}
/* line 15, ../sass/ie.scss */
#menu .menu_icon {
  border-bottom: 1px solid #5D5D5D;
}
/* line 18, ../sass/ie.scss */
#menu .menu_icon:hover {
  background-color: #464646;
}
/* line 21, ../sass/ie.scss */
#menu .menu_icon:active {
  border-bottom: 1px solid black;
}
/* line 24, ../sass/ie.scss */
#menu .menu_icon.selected {
  background-color: #595959;
}
/* line 30, ../sass/ie.scss */
#menu .menu_icon.disabled:hover {
  background-color: inherit;
  border-bottom: 1px solid #5D5D5D;
}
/* line 34, ../sass/ie.scss */
#menu .menu_icon.disabled:active {
  border-bottom: 1px solid #5D5D5D;
}
