/* Så slipper vi for manuelt at kode vendor prefixes */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/resetPassword.scss */
body {
  background: url("i/gray_noise.png");
}

/* line 11, ../sass/resetPassword.scss */
.wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

/* line 17, ../sass/resetPassword.scss */
#logo {
  background: url("i/quickd-logo-185x47.png");
  width: 185px;
  height: 47px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* line 27, ../sass/resetPassword.scss */
#enterNewPassword {
  position: relative;
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 280px;
  height: 80px;
  background: white;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 42, ../sass/resetPassword.scss */
#enterNewPassword label {
  font-weight: bold;
  float: left;
  clear: both;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Helvetica, Arial, sans-serif;
}
/* line 52, ../sass/resetPassword.scss */
#enterNewPassword label input[type="checkbox"] {
  margin-right: 7px;
}
/* line 56, ../sass/resetPassword.scss */
#enterNewPassword label a {
  font-weight: bold;
  font-size: 12px;
  margin-left: 4px;
  color: #2E73BC;
  text-decoration: none;
}
/* line 64, ../sass/resetPassword.scss */
#enterNewPassword label a:hover {
  text-decoration: underline;
}
/* line 68, ../sass/resetPassword.scss */
#enterNewPassword label small {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin-left: 7px;
  font-weight: normal;
}
/* line 76, ../sass/resetPassword.scss */
#enterNewPassword .field {
  width: 260px;
  clear: both;
  display: inline;
}
/* line 81, ../sass/resetPassword.scss */
#enterNewPassword .field input[type="text"], #enterNewPassword .field input[type="password"] {
  width: 185px;
  border: 1px solid #CCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  outline: none;
  padding: 6px;
  -moz-transition: border .2s linear, box-shadow .2s linear;
  -webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
}
/* line 94, ../sass/resetPassword.scss */
#enterNewPassword .field input[type="text"]:focus, #enterNewPassword .field input[type="password"]:focus {
  border: 1px solid #59CCD9;
  -moz-box-shadow: 0 0px 3px rgba(134, 218, 227, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 3px rgba(134, 218, 227, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0px 3px rgba(134, 218, 227, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 3px rgba(134, 218, 227, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 99, ../sass/resetPassword.scss */
#enterNewPassword .field button {
  float: right;
  line-height: 23px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  font-weight: bold;
  font-size: 13px;
  color: #2E2826;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.8);
  -o-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.8);
  display: inline;
  border: 1px solid #FD9A0F;
  background-color: #eae879;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEAE879', endColorstr='#FFFD9A0F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eae879), color-stop(100%, #fd9a0f));
  background-image: -webkit-linear-gradient(top, #eae879 0%, #fd9a0f 100%);
  background-image: -moz-linear-gradient(top, #eae879 0%, #fd9a0f 100%);
  background-image: -o-linear-gradient(top, #eae879 0%, #fd9a0f 100%);
  background-image: -ms-linear-gradient(top, #eae879 0%, #fd9a0f 100%);
  background-image: linear-gradient(top, #eae879 0%, #fd9a0f 100%);
}
/* line 122, ../sass/resetPassword.scss */
#enterNewPassword .field button:hover {
  background-color: #eae879;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEAE879', endColorstr='#FFFD9A0F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eae879), color-stop(100%, rgba(253, 154, 15, 0.7)));
  background-image: -webkit-linear-gradient(top, #eae879 0%, rgba(253, 154, 15, 0.7) 100%);
  background-image: -moz-linear-gradient(top, #eae879 0%, rgba(253, 154, 15, 0.7) 100%);
  background-image: -o-linear-gradient(top, #eae879 0%, rgba(253, 154, 15, 0.7) 100%);
  background-image: -ms-linear-gradient(top, #eae879 0%, rgba(253, 154, 15, 0.7) 100%);
  background-image: linear-gradient(top, #eae879 0%, rgba(253, 154, 15, 0.7) 100%);
}
/* line 128, ../sass/resetPassword.scss */
#enterNewPassword .field button:active {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}
