/**
 * Background noise recipe
 * 
 * This recipe use a sass function to generate a .png file
 * 
 * Inspired by a jQuery plugin "Noisy" by Daniel Rapp @DanielRapp
 * @link https://github.com/DanielRapp/Noisy
 * 
 * Converted using Sass by Aaron Russell @aaronrussell & Philipp Bosch @philippbosch
 * @link https://gist.github.com/1021332
 * 
 * Ported to a sass gem by Antti Salonen @antsa
 * @link https://github.com/antsa/sassy_noise
 * 
 * Mixin:        background-noise
 * Function:     background_noise
 * 
 * @author Daniel Rapp @DanielRapp
 * @author Aaron Russell @aaronrussell
 * @author Philipp Bosch @philippbosch
 * @author Antti Salonen @antsa
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 *
 * @class Gradients
 * @author David Kaneda http://www.davidkaneda.com/
 *
 */
/**
 * Adds a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * Blueprint grid background pattern
 * 
 * @link http://lea.verou.me/css3patterns/#blueprint-grid
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Striped background pattern
 * 
 * @link http://lea.verou.me/css3patterns/
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com @davidkaneda for the sass mixin
 */
/**
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#tartan
 *
 * @author Marta Armada http://swwweet.com/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Carbon Fiber background pattern
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com/ for the Sass mixin
 *
 * @link http://lea.verou.me/css3patterns/
 *
 */
/**
 * Normalize.css
 * Opposite approche from CSS reset
 * 
 * Based on normalize.css commit 9576d48fc234c5224b1fc4dccba2f5965243843d
 *
 * @link http://github.com/necolas/normalize.css
 */
/* normalize.css 2011-07-12T10:51 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
/* =============================================================================
   Base
   ========================================================================== */
/* =============================================================================
   Links
   ========================================================================== */
/* =============================================================================
   Typography
   ========================================================================== */
/* =============================================================================
   Lists
   ========================================================================== */
/* =============================================================================
   Embedded content
   ========================================================================== */
/* =============================================================================
   Figures
   ========================================================================== */
/* =============================================================================
   Forms
   ========================================================================== */
/* =============================================================================
   Tables
   ========================================================================== */
/**
 *
 * @author David Kaneda - http://www.davidkaneda.com
 *
 */
/**
 * @class Color
 */
/**
 * Returns the brightness (out of 100) of a specified color.
 * @todo explain why this is useful
 * @param {color} $color The color you want the brightness value of
 * @return {measurement}
 */
/**
 * Returns the luminosity for a specified color
 * @todo explain why this is useful
 * @param {color} The color to check
 * @return {measurement}
 */
/**
 * Glass effect
 * Use this on image for better effect render
 * 
 * Inspired from Simurai's IMDB redisign
 *
 * @link http://lab.simurai.com/redesign/imdb
 * @thanks Simurai @simurai
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Scotch tape effect with pure CSS
 * 
 * @thanks Nick La @nickla for original concept
 * @link http://webdesignerwall.com/tutorials/css3-image-styles
 * 
 * @author David Kaneda http://www.davidkaneda.com
 *
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 * @todo Nix in .4
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * Form element inline mixin
 * This mixin allow you to have a label inline with your input
 * It's simply based on inline-block behavior
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Vertical alignement for page
 * Inspired by http://css-tricks.com/snippets/css/center-div-with-dynamic-height/
 * 
 * Usage:
 * 
 * SCSS
 * @include vertical-align-requirement;
 * .v-align-container { @include vertical-align-container }
 * .v-align-content-container { @include vertical-align-content-container }
 * .v-align-content { @include vertical-align-content }
 * 
 * HTML
 * <body>
 *     <div class="v-align-container">
 *         <div class="v-align-content-container">
 *             <div class="v-align-content">
 *             Your content !
 *             </div>
 *         </div> 
 *     </div>
 * </body>
 *
 * @thanks Chris Coyier @chriscoyier
 * @autor Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Media Queries Mixins
 * 
 * @todo Do we have to take care of print ?
 * 
 * @require sass-3.2 (you need eventually to do "sudo gem install sass --pre")
 * @author Maxime Thirouin <maxime.thirouin@gmail.com>
 */
/*
$media-query-width-big: 1280px;
$media-query-width-medium: 960px;
$media-query-width-small: 480px;
*/
/**
 * Drop shadow mixins from Nicolas Gallagher demo
 * 
 * @thanks Nicolas Gallagher @necolas, @simurai, @cameronmoll, @matthamm
 * 
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow curled
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow curved
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow flying
 *
 * @thanks Geoffrey Crofte @geoffrey_crofte
 * @link http://www.creativejuiz.fr/trytotry/css3-box-shadow-after-before/
 */
/**
 * Drop shadow w/ lifted corners
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow w/ perspective
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow raised
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Drop shadow rules required for transform on drop shadow
 * 
 * /!\ This is required if you want to apply some transform on the element using drop shadow
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
 */
/**
 * Shadow along the top edge of the browser viewport
 * 
 * @link http://playground.genelocklin.com/depth/
 */
/**
* Shapes !
* Polygons, ellipses and symbols
* 
* @thanks Chris Coyier @chriscoyier
* @link http://css-tricks.com/examples/ShapesOfCSS/
* @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
*/
/**
 * Shape/Ellipse
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Hexagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Octagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Parallelogram
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Pentagon
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Rectangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Rhombus
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Square
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Star
 *
 * @todo check if setting a z-index by default is a good thing
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Trapezoid
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Triangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Diamond
 *
 * @todo add height support
 * 
 * @author Alexander Futekov
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Egg
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Heart
 * 
 * @author Nicolas Gallagher @necolas
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Infinity
 * 
 * @author Nicolas Gallagher @necolas
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Pacman
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Symbol/Yin-yang
 *
 * @author Alexander Futekov
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Micro clearfix hack
 * 
 * The clearfix hack is a popular way to clear floats without resorting to using presentational markup. This article presents an update to the clearfix method that further reduces the amount of CSS required.
 * Known support: Firefox 2+, Safari 2+, Chrome, Opera 9.27+, IE 6+, IE Mac.
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 * UI convex effect from one color
 *
 * @todo merge with ui-button ?
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * UI Glossy helper
 *
 * @deprecated
 * @todo Remove in 0.4
 * @see background/gradients
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * UI simple gradient from one color
 *
 * @todo merge with ui-button ?
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Shape/Polygon/Triangle
 *
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 * Keyboard key touch
 * A simple stylesheet for rendering beautiful keyboard-style elements.

 * @author Michael Hüneburg http://michaelhue.com/keyscss
 * @link https://github.com/michaelhue/keyscss (commit 76bb603e921d0145362e0f60eabb79d4f69cbda0)
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
*/
/**
 * Menu dropdown helper
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
*/
/**
 * Ui background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * <hr /> separator style
 *
 * @author Chris Coyier @chriscoyier
 * @link http://jsfiddle.net/chriscoyier/GaEzp/35/
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 * Micro clearfix hack
 * 
 * The clearfix hack is a popular way to clear floats without resorting to using presentational markup. This article presents an update to the clearfix method that further reduces the amount of CSS required.
 * Known support: Firefox 2+, Safari 2+, Chrome, Opera 9.27+, IE 6+, IE Mac.
 *
 * @thanks Nicolas Gallagher @necolas
 * @link http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/**
 *
 * @class Gradients
 * @author David Kaneda http://www.davidkaneda.com/
 *
 */
/**
 * Adds a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * @class Webfont Icon
 * Great to use with the [Pictos font](http://pictos.drewwilson.com/)
 * 
 */
/**
 * @cfg {color} $webfont-icon-base-color
 * The default color of icons when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `white`.
 */
/**
 * @cfg {color} $webfont-icon-default-stroke
 * The default color to use on the border of icons, when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `null`.
 */
/**
 * @cfg {string} $webfont-icon-default-gradient
 * The default gradient to use when using the {@link #webfont-icon} mixin.
 * 
 * Defaults to `matte`.
 */
/* line 41, ../compass-recipes/stylesheets/recipes/_webfont-icon.scss */
.webfont-icon-base {
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/**
 * Includes a character into the specified selector, styled as an icon.
 * 
 *     @include webfont-icon('a');
 * 
 * @param {color} $color
 * The color of the icon. Defaults to {@link #$webfont-icon-default-background $webfont-icon-default-background}.
 * 
 * @param {measurement} $size
 * The size of the icon
 * 
 * @param {color} $stroke
 * The color of the border. Defautls to {@link #$webfont-icon-default-border $webfont-icon-default-border}.
 * 
 * @param {boolean} $include-staes
 * True to include states for hover and active. Defaults to `true`.
 */
/* line 15, ../scss/quickd.scss */
body {
  position: relative;
  color: #f1f1f1;
  text-shadow: 0 1px 1px black;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5))), url(../../img/background-pattern.jpg);
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../img/background-pattern.jpg);
  background-image: -moz-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../img/background-pattern.jpg);
  background-image: -o-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../img/background-pattern.jpg);
  background-image: -ms-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../img/background-pattern.jpg);
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../../img/background-pattern.jpg);
}

/* line 26, ../scss/quickd.scss */
#login-wrap {
  background-image: url(../../img/transparent-noise.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8d845), color-stop(100%, #6c8c31));
  background-image: url(../../img/transparent-noise.png), -webkit-linear-gradient(#b8d845, #6c8c31);
  background-image: url(../../img/transparent-noise.png), -moz-linear-gradient(#b8d845, #6c8c31);
  background-image: url(../../img/transparent-noise.png), -o-linear-gradient(#b8d845, #6c8c31);
  background-image: url(../../img/transparent-noise.png), -ms-linear-gradient(#b8d845, #6c8c31);
  background-image: url(../../img/transparent-noise.png), linear-gradient(#b8d845, #6c8c31);
}

/* line 35, ../scss/quickd.scss */
#login #logo h1 {
  display: block;
  width: 208px;
  height: 71px;
  text-indent: -9999px;
  background: url(../../img/quickd-logo.png);
  margin: 8% auto 0;
  background-size: 100%;
}
/* line 44, ../scss/quickd.scss */
#login form {
  width: 86%;
  margin: 10% 7%;
}
/* line 49, ../scss/quickd.scss */
#login form input[type=text], #login form input[type=password] {
  width: 90%;
  padding: 5%;
  margin: 0 0 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
/* line 58, ../scss/quickd.scss */
#login form input[type=text] {
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  border-bottom: thin solid #aaa;
}
/* line 61, ../scss/quickd.scss */
#login form input[type=text].fail {
  border-top: thin solid #ff6666;
  border-left: thin solid #ff6666;
  border-right: thin solid #ff6666;
}
/* line 68, ../scss/quickd.scss */
#login form input[type=password] {
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
/* line 70, ../scss/quickd.scss */
#login form input[type=password].fail {
  border-bottom: thin solid #ff6666;
  border-left: thin solid #ff6666;
  border-right: thin solid #ff6666;
}
/* line 78, ../scss/quickd.scss */
#login form input[type=text].fail, #login form input[type=password].fail {
  background: #ffdddd;
}
/* line 81, ../scss/quickd.scss */
#login form .ui-btn {
  border-color: #232529;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  margin: 25px 0 0;
  width: 98%;
  margin-left: 1%;
  font-size: 1.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b7077), color-stop(49%, #363e46), color-stop(51%, #2b323b), color-stop(100%, #444a53));
  background-image: -webkit-linear-gradient(#6b7077, #363e46 49%, #2b323b 51%, #444a53);
  background-image: -moz-linear-gradient(#6b7077, #363e46 49%, #2b323b 51%, #444a53);
  background-image: -o-linear-gradient(#6b7077, #363e46 49%, #2b323b 51%, #444a53);
  background-image: -ms-linear-gradient(#6b7077, #363e46 49%, #2b323b 51%, #444a53);
  background-image: linear-gradient(#6b7077, #363e46 49%, #2b323b 51%, #444a53);
}
/* line 97, ../scss/quickd.scss */
#login form .ui-btn .ui-btn-inner {
  border: none;
  padding: 0.4em 25px;
}
/* line 99, ../scss/quickd.scss */
#login form .ui-btn.ui-btn-down-a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777d84), color-stop(49%, #414b54), color-stop(51%, #363f4a), color-stop(100%, #4f5661));
  background-image: -webkit-linear-gradient(#777d84, #414b54 49%, #363f4a 51%, #4f5661);
  background-image: -moz-linear-gradient(#777d84, #414b54 49%, #363f4a 51%, #4f5661);
  background-image: -o-linear-gradient(#777d84, #414b54 49%, #363f4a 51%, #4f5661);
  background-image: -ms-linear-gradient(#777d84, #414b54 49%, #363f4a 51%, #4f5661);
  background-image: linear-gradient(#777d84, #414b54 49%, #363f4a 51%, #4f5661);
}
/* line 113, ../scss/quickd.scss */
#login footer a {
  color: #222;
  text-decoration: none;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 92%;
}

/* line 124, ../scss/quickd.scss */
div[data-role="page"] div[data-role="header"] {
  height: 44px;
  font-size: 2em;
  border: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccd95), color-stop(49%, #aed32d), color-stop(51%, #96c602), color-stop(100%, #76a901));
  background-image: -webkit-linear-gradient(#cccd95, #aed32d 49%, #96c602 51%, #76a901);
  background-image: -moz-linear-gradient(#cccd95, #aed32d 49%, #96c602 51%, #76a901);
  background-image: -o-linear-gradient(#cccd95, #aed32d 49%, #96c602 51%, #76a901);
  background-image: -ms-linear-gradient(#cccd95, #aed32d 49%, #96c602 51%, #76a901);
  background-image: linear-gradient(#cccd95, #aed32d 49%, #96c602 51%, #76a901);
}
/* line 132, ../scss/quickd.scss */
div[data-role="page"] div[data-role="header"] h1 {
  font-size: 23px;
  margin: 0.3em 90px;
  color: #2C3A07;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
/* line 134, ../scss/quickd.scss */
div[data-role="page"] div[data-role="header"] .button {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 138, ../scss/quickd.scss */
div[data-role="page"] div[data-role="header"] .button .ui-btn-inner {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 139, ../scss/quickd.scss */
div[data-role="page"] div[data-role="header"] .button .ui-btn-text {
  color: #2C3A07;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
/* line 146, ../scss/quickd.scss */
div[data-role="page"] #deal .start-stop-deal {
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-size: 1.5em;
  width: 90%;
  margin-left: 5%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94c8ca), color-stop(49%, #33aacc), color-stop(51%, #0e96c6), color-stop(100%, #0976aa));
  background-image: -webkit-linear-gradient(#94c8ca, #33aacc 49%, #0e96c6 51%, #0976aa);
  background-image: -moz-linear-gradient(#94c8ca, #33aacc 49%, #0e96c6 51%, #0976aa);
  background-image: -o-linear-gradient(#94c8ca, #33aacc 49%, #0e96c6 51%, #0976aa);
  background-image: -ms-linear-gradient(#94c8ca, #33aacc 49%, #0e96c6 51%, #0976aa);
  background-image: linear-gradient(#94c8ca, #33aacc 49%, #0e96c6 51%, #0976aa);
  -webkit-animation: start-deal-pulse 1s infinite alternate ease-in-out;
}
/* line 153, ../scss/quickd.scss */
div[data-role="page"] #deal .start-stop-deal .ui-btn-inner {
  padding: 0.4em 25px;
  border: none;
}
/* line 158, ../scss/quickd.scss */
div[data-role="page"] #deal .start-stop-deal.ui-btn-down-a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b6dadb), color-stop(49%, #5cbbd6), color-stop(51%, #18b7ef), color-stop(100%, #0c98da));
  background-image: -webkit-linear-gradient(#b6dadb, #5cbbd6 49%, #18b7ef 51%, #0c98da);
  background-image: -moz-linear-gradient(#b6dadb, #5cbbd6 49%, #18b7ef 51%, #0c98da);
  background-image: -o-linear-gradient(#b6dadb, #5cbbd6 49%, #18b7ef 51%, #0c98da);
  background-image: -ms-linear-gradient(#b6dadb, #5cbbd6 49%, #18b7ef 51%, #0c98da);
  background-image: linear-gradient(#b6dadb, #5cbbd6 49%, #18b7ef 51%, #0c98da);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 30px #009ac4;
  -webkit-animation: none;
}
/* line 172, ../scss/quickd.scss */
div[data-role="page"] #deal .start-stop-deal.stop {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f08089), color-stop(49%, #e63340), color-stop(51%, #e00710), color-stop(100%, #ed1414));
  background-image: -webkit-linear-gradient(#f08089, #e63340 49%, #e00710 51%, #ed1414);
  background-image: -moz-linear-gradient(#f08089, #e63340 49%, #e00710 51%, #ed1414);
  background-image: -o-linear-gradient(#f08089, #e63340 49%, #e00710 51%, #ed1414);
  background-image: -ms-linear-gradient(#f08089, #e63340 49%, #e00710 51%, #ed1414);
  background-image: linear-gradient(#f08089, #e63340 49%, #e00710 51%, #ed1414);
  -webkit-animation: stop-deal-pulse 1s infinite alternate ease-in-out;
}
/* line 176, ../scss/quickd.scss */
div[data-role="page"] #deal .start-stop-deal.stop.ui-btn-down-a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5aeb3), color-stop(49%, #ec606b), color-stop(51%, #f8222b), color-stop(100%, #f14343));
  background-image: -webkit-linear-gradient(#f5aeb3, #ec606b 49%, #f8222b 51%, #f14343);
  background-image: -moz-linear-gradient(#f5aeb3, #ec606b 49%, #f8222b 51%, #f14343);
  background-image: -o-linear-gradient(#f5aeb3, #ec606b 49%, #f8222b 51%, #f14343);
  background-image: -ms-linear-gradient(#f5aeb3, #ec606b 49%, #f8222b 51%, #f14343);
  background-image: linear-gradient(#f5aeb3, #ec606b 49%, #f8222b 51%, #f14343);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 30px #ef3c24;
  -webkit-animation: none;
}
/* line 190, ../scss/quickd.scss */
div[data-role="page"] #deal .start-stop-deal.soldout {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ababab), color-stop(49%, #ababab), color-stop(51%, #ababab), color-stop(100%, #ababab));
  background-image: -webkit-linear-gradient(#ababab, #ababab 49%, #ababab 51%, #ababab);
  background-image: -moz-linear-gradient(#ababab, #ababab 49%, #ababab 51%, #ababab);
  background-image: -o-linear-gradient(#ababab, #ababab 49%, #ababab 51%, #ababab);
  background-image: -ms-linear-gradient(#ababab, #ababab 49%, #ababab 51%, #ababab);
  background-image: linear-gradient(#ababab, #ababab 49%, #ababab 51%, #ababab);
  -webkit-animation: none;
}
/* line 193, ../scss/quickd.scss */
div[data-role="page"] #deal .start-stop-deal.soldout.ui-btn-down-a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(49%, #c4c4c4), color-stop(51%, #c4c4c4), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#c4c4c4, #c4c4c4 49%, #c4c4c4 51%, #c4c4c4);
  background-image: -moz-linear-gradient(#c4c4c4, #c4c4c4 49%, #c4c4c4 51%, #c4c4c4);
  background-image: -o-linear-gradient(#c4c4c4, #c4c4c4 49%, #c4c4c4 51%, #c4c4c4);
  background-image: -ms-linear-gradient(#c4c4c4, #c4c4c4 49%, #c4c4c4 51%, #c4c4c4);
  background-image: linear-gradient(#c4c4c4, #c4c4c4 49%, #c4c4c4 51%, #c4c4c4);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 30px #ababab;
  -webkit-animation: none;
}
/* line 209, ../scss/quickd.scss */
div[data-role="page"] #deal .deal-description {
  margin: 1em 1em 0;
  padding: 1em;
  background: #f4f4f4;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
/* line 218, ../scss/quickd.scss */
div[data-role="page"] #deal .deal-description p {
  color: #777;
  padding-left: 95px;
  text-shadow: 0 1px 1px white;
  font-size: 0.9em;
  line-height: 1.1em;
}
/* line 227, ../scss/quickd.scss */
div[data-role="page"] #deal .deal-options {
  margin: 1em;
}
/* line 230, ../scss/quickd.scss */
div[data-role="page"] #deal .deal-options ul {
  margin: 0;
}
/* line 232, ../scss/quickd.scss */
div[data-role="page"] #deal .deal-options input[type=datetime] {
  float: right;
  font-size: 0.8em;
}
/* line 241, ../scss/quickd.scss */
div[data-role="page"] .left {
  float: left;
}
/* line 242, ../scss/quickd.scss */
div[data-role="page"] .right {
  float: right;
}
/* line 243, ../scss/quickd.scss */
div[data-role="page"] .text-right {
  text-align: right;
}
/* line 244, ../scss/quickd.scss */
div[data-role="page"] .text-left {
  text-align: left;
}
/* line 245, ../scss/quickd.scss */
div[data-role="page"] .text-center {
  text-align: center;
}
/* line 247, ../scss/quickd.scss */
div[data-role="page"] img.left {
  margin-right: 1em;
}

/* line 252, ../scss/quickd.scss */
#deals {
  background: transparent;
}

/* line 255, ../scss/quickd.scss */
#deal-slider {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 35px;
}
/* line 260, ../scss/quickd.scss */
#deal-slider .royalSliderContainer {
  overflow: visible;
}
/* line 262, ../scss/quickd.scss */
#deal-slider ul {
  border: none;
}
/* line 264, ../scss/quickd.scss */
#deal-slider .royalSlide {
  color: #444;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  opacity: 0.3;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-backface-visibility: hidden;
}
/* line 273, ../scss/quickd.scss */
#deal-slider .royalSlide.current {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
/* line 275, ../scss/quickd.scss */
#deal-slider .royalSlide:last-child {
  margin-right: 0;
}
/* line 279, ../scss/quickd.scss */
#deal-slider .royalSlide .deal img {
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
/* line 283, ../scss/quickd.scss */
#deal-slider .royalSlide .deal h4 {
  color: inherit;
  text-shadow: none;
  margin: 0;
  padding-top: 17px;
}
/* line 290, ../scss/quickd.scss */
#deal-slider .royalSlide .deal p {
  color: inherit;
  text-shadow: none;
  font-weight: normal;
  font-size: 80%;
  margin-top: 0.2em;
}

/* line 301, ../scss/quickd.scss */
.time {
  padding: 4%;
  width: 82%;
  margin: 20px auto;
  background: white;
  color: #333;
  text-shadow: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 310, ../scss/quickd.scss */
.time time {
  font-size: 160%;
  font-weight: bold;
}
/* line 315, ../scss/quickd.scss */
.time div.ui-slider {
  width: 80%;
  margin: 20px auto;
  clear: both;
  border: thin solid #bbb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -moz-linear-gradient(#dddddd, #eeeeee);
  background-image: -o-linear-gradient(#dddddd, #eeeeee);
  background-image: -ms-linear-gradient(#dddddd, #eeeeee);
  background-image: linear-gradient(#dddddd, #eeeeee);
}
/* line 325, ../scss/quickd.scss */
.time div.ui-slider .ui-slider-handle {
  border-color: #333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#555555, #333333);
  background-image: -moz-linear-gradient(#555555, #333333);
  background-image: -o-linear-gradient(#555555, #333333);
  background-image: -ms-linear-gradient(#555555, #333333);
  background-image: linear-gradient(#555555, #333333);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
/* line 332, ../scss/quickd.scss */
.time div.ui-slider .ui-slider-handle .ui-btn-inner {
  display: none;
}
/* line 337, ../scss/quickd.scss */
.time.running div.ui-slider {
  display: none;
}
/* line 339, ../scss/quickd.scss */
.time.running time {
  font-size: 200%;
}
/* line 344, ../scss/quickd.scss */
.time input[type=number] {
  display: none;
}

@-webkit-keyframes login-pulse {
  /* line 349, ../scss/quickd.scss */
  0% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 0 #aed32d;
  }

  /* line 353, ../scss/quickd.scss */
  100% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 30px #aed32d;
  }
}

@-webkit-keyframes start-deal-pulse {
  /* line 359, ../scss/quickd.scss */
  0% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 0 #009ac4;
  }

  /* line 363, ../scss/quickd.scss */
  100% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 30px #009ac4;
  }
}

@-webkit-keyframes stop-deal-pulse {
  /* line 369, ../scss/quickd.scss */
  0% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 0 #ef3c24;
  }

  /* line 373, ../scss/quickd.scss */
  100% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.4) 0 0 0 5px, rgba(255, 255, 255, 0.3) 0 1px 0 5px, 0 0 30px #ef3c24;
  }
}

/* line 378, ../scss/quickd.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: 1s ease;
  -moz-animation: 1s ease;
  -ms-animation: 1s ease;
  -o-animation: 1s ease;
  animation: 1s ease;
}

/* line 391, ../scss/quickd.scss */
.animated.hinge {
  -webkit-animation: 2s ease;
  -moz-animation: 2s ease;
  -ms-animation: 2s ease;
  -o-animation: 2s ease;
  animation: 2s ease;
}

@-webkit-keyframes shake {
  /* line 400, ../scss/quickd.scss */
  0%, 90%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 401, ../scss/quickd.scss */
  10%, 30%, 55% {
    -webkit-transform: translateX(-10px);
  }

  /* line 402, ../scss/quickd.scss */
  20%, 40%, 70% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  /* line 406, ../scss/quickd.scss */
  0%, 100% {
    -moz-transform: translateX(0);
  }

  /* line 407, ../scss/quickd.scss */
  10%, 35%, 70% {
    -moz-transform: translateX(-10px);
  }

  /* line 408, ../scss/quickd.scss */
  20%, 50%, 90% {
    -moz-transform: translateX(10px);
  }
}

@-ms-keyframes shake {
  /* line 412, ../scss/quickd.scss */
  0%, 100% {
    -ms-transform: translateX(0);
  }

  /* line 413, ../scss/quickd.scss */
  10%, 30%, 50%, 70%, 90% {
    -ms-transform: translateX(-10px);
  }

  /* line 414, ../scss/quickd.scss */
  20%, 40%, 60%, 80% {
    -ms-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  /* line 418, ../scss/quickd.scss */
  0%, 100% {
    -o-transform: translateX(0);
  }

  /* line 419, ../scss/quickd.scss */
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }

  /* line 420, ../scss/quickd.scss */
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  /* line 424, ../scss/quickd.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 425, ../scss/quickd.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 426, ../scss/quickd.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 429, ../scss/quickd.scss */
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -ms-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes fadeInDown {
  /* line 443, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 448, ../scss/quickd.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 455, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 460, ../scss/quickd.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-ms-keyframes fadeInDown {
  /* line 467, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 472, ../scss/quickd.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 479, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 484, ../scss/quickd.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 491, ../scss/quickd.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 496, ../scss/quickd.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 502, ../scss/quickd.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes bounceInLeft {
  /* line 510, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 515, ../scss/quickd.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }

  /* line 520, ../scss/quickd.scss */
  80% {
    -webkit-transform: translateX(-10px);
  }

  /* line 524, ../scss/quickd.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInLeft {
  /* line 530, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 535, ../scss/quickd.scss */
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }

  /* line 540, ../scss/quickd.scss */
  80% {
    -moz-transform: translateX(-10px);
  }

  /* line 544, ../scss/quickd.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@-ms-keyframes bounceInLeft {
  /* line 550, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }

  /* line 555, ../scss/quickd.scss */
  60% {
    opacity: 1;
    -ms-transform: translateX(30px);
  }

  /* line 560, ../scss/quickd.scss */
  80% {
    -ms-transform: translateX(-10px);
  }

  /* line 564, ../scss/quickd.scss */
  100% {
    -ms-transform: translateX(0);
  }
}

@-o-keyframes bounceInLeft {
  /* line 570, ../scss/quickd.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }

  /* line 575, ../scss/quickd.scss */
  60% {
    opacity: 1;
    -o-transform: translateX(30px);
  }

  /* line 580, ../scss/quickd.scss */
  80% {
    -o-transform: translateX(-10px);
  }

  /* line 584, ../scss/quickd.scss */
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  /* line 590, ../scss/quickd.scss */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 595, ../scss/quickd.scss */
  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  /* line 600, ../scss/quickd.scss */
  80% {
    transform: translateX(-10px);
  }

  /* line 604, ../scss/quickd.scss */
  100% {
    transform: translateX(0);
  }
}

/* line 609, ../scss/quickd.scss */
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -ms-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
