/******************************************************************
VARIABLES
******************************************************************/
$base-gradient: matte;
$list-pressed-color: mix(#08679F, #fff, 10);
$list-active-color: mix(#043F62, #fff, 0);
$img-path: '../images/';
$ff: 'Helvetica Neue', sans-serif;

/******************************************************************
IMPORTS
******************************************************************/
@import 'sencha-touch/default/all';
@import '_reset';
@import '_mixins';
@import '_helpers';

@include sencha-toolbar;

/******************************************************************
CONVERT IMAGES TO COMPASS SPRITE MAPS
******************************************************************/
@import "spr/*.png";

/******************************************************************
BUTTONS
******************************************************************/
@include sencha-button-ui('sencha', #2E9A3E, glossy);

/******************************************************************
GENERAL STYLES
******************************************************************/
#ext-mainview-1 { background: transparent; }

/******************************************************************
TOOLBAR STYLES
******************************************************************/
@include sencha-toolbar-ui('sencha', rgba(black, 0.7), glossy);
.x-toolbar-sencha .x-title { text-shadow: 0 1px 0 rgba(0,0,0,.8); }

#quickd-topbar {
    @include background-image(
        // Color stops are defined from top to bottom..
        linear-gradient(#ddd 0%, #868686 2%, #3c3c3c 49%, #2f2f2f 50%, #252525 97%, #555 100%)
    );

    border-bottom: thin solid #333;

    .x-toolbar-inner {
        .x-button, .x-button-back, .x-component-outer {
            background-color: transparent;
            border: thin solid black;

            @include box-shadow(0 1px 0 rgba(white, 0.24));
            @include background-image(linear-gradient(#6e6e6e 0%, #828282 5%, #525252 49%, #303030 50%, #191919 100%));

            *[class*='-label'] {
                font: bold 12px/1 'Helvetica Neue', sans-serif;
                color: white;
                text-shadow: 0 -1px 0 black;
                opacity: 0.95;
                overflow: visible;
            }
        }

        .x-button:after, .x-button:before {
            background-color: transparent;
            border-top: thin solid black;
            border-bottom: thin solid black;
            border-left: thin solid black;

            @include background-image(linear-gradient(#6e6e6e 0%, #828282 5%, #525252 49%, #303030 50%, #191919 100%));
        }
    }
}

/******************************************************************
PULL REFRESH
******************************************************************/
#fedt-mand-spa {


    .x-list-pullrefresh {
        .x-list-pullrefresh-arrow {
            $url: $img-path + 'refresh-arrow.png';
            $w: 24px; $h: 26px;

            @include spr-sprite('refresh-arrow');
            width: 24px; height: 26px;
            background-size: initial;

            @include transform(rotation(0deg));
            @include transition(all 0.7s ease-in-out);
        }
    }
    
    .x-list-pullrefresh-release {
        .x-list-pullrefresh-arrow {
            -webkit-animation: spin-that-shit 0.85s infinite linear;
        }

        &.x-list-pullrefresh-loading {
            .x-list-pullrefresh-arrow {
               -webkit-animation: spin-that-shit 0.3s infinite linear;
            }
        }
    }

    // Hide junk

    .x-list-pullrefresh-wrap, .x-loading-spinner { display: none; }
}

@-webkit-keyframes spin-that-shit {
    0%   { @include transform(rotate(0deg)); }
    100% { @include transform(rotate(360deg)); }
}

/******************************************************************
SINGLE DEAL
******************************************************************/
#deal-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

#deal-bg, #quickd-single .x-body > .x-inner {
    @include background-image(linear-gradient(#222, #0c0c0c));
    color: white;
}

#quickd-single {
    .x-body > .x-inner {
        // carousel and info wrapper

        #quickd-deal-slider{
            height:185px; width:100%;

            .infoBox { padding: 5px 0 0 5px; }
            
            .linethrough { text-decoration: line-through; }
            .title { font-weight: bold; text-transform: uppercase; }
            .information{ color: #808080; }
        }

        .deal-info {
            .rightPanel { margin-left: 7px; }
        }

        #quickd-deal-content .x-inner { top: -845px; }

        #quickd-deal-content .x-innerhtml {
            > article {
                $side-padding: 10px;

                padding: 19px $side-padding 108px;
                background: url(../images/deal-bg.png) repeat;
                border-top: 4px solid red;

                color: #575757;
                text-shadow: 0 1px 0 white;

                @include box-shadow(
                    0 -1px 0 rgba(255, 255, 255, 0.7), 
                    0 -5px 13px 7px black
                );

                &.shopping { border-color: #a25d7a; }
                &.experience { border-color: #5da2a0; }
                &.fooddrink { border-color: #c09159; }

                > section {
                    padding-bottom: 38px;
                    margin-bottom: 33px;
                    background: url(../images/stippled-line.png) repeat-x bottom left;
                }

                .venue {
                    .venue-thumb {
                        width: 107%;
                        margin-left: 0 - $side-padding;
                    }
                }

                .venue-meta {

                }
            }

            #{headings(1,2)} {
                font-size: 33px;
                line-height: 34px;
                font-weight: bold;
                color: #131313;
                letter-spacing: 0;
                
                margin-bottom: 28px;
            }
        }
    }
}

#quickd-deal-content {

}

/******************************************************************
DEALS LIST
******************************************************************/

#quickd-deals {
    background: url($img-path + 'bg-pattern.png');

    .x-scroll-view {  }
    .x-scroll-container {  }
    .x-list { background: transparent; }
    .x-list .x-list-item .x-list-item-label { padding: 0; overflow: hidden; } /* list item wrapping element */

    .x-list-item {
        margin: 10px 7px;
        background: white;
        @include border-radius(3px);

        // Shadow
        &:after {
            $url: $img-path + 'shadow.png';
            $w: 100%;
            $h: 14px;
            display: block;
            position: absolute;
            bottom: 0 - $h;
            
            width: $w;  height: $h;
            background: url($url);

            content: '';
        }

        .x-list-item-label {
            border: none;
            padding: 0;
        }
    }


    article[id*=deal_] {
        position: relative;

        img.deal_image { margin-left: 5px; }

        .deal-content { 
            margin-left: 84px;
            padding-top: 7px;

            h1 {
                width: 85%;
                font: bold 15px/16px $ff;
                color: #333;
                @include text-overflow(ellipsis);
            }

            h2, > footer {
                font: normal italic 13px/16px $ff;
                color: #a5a5a5;
            }

            h2 { margin-top: 3px; }

            > footer {
                font-style: italic;
                margin-top: 8px;
                font-size: 11px;

                .price, time {
                    position: relative;
                    padding-left: 17px;

                    &:not(:first-child) { margin-left: 12px };

                    &:before {
                        position: absolute;
                        top: 1px; left: 0;
                        display: block;
                        content: '';
                    }
                }

                .price:before { background-position-x: 0; }

                time:before { background-position-x: -23px; }

                .awesome-badge {
                    position: absolute;
                    top: -3px; right: -3px;

                    @include spr-sprite('discount-badge', true);

                    .value {
                        display: block;
                        margin: 12px 0 0 24px;
                        font: bold 12px/1 'Helvetica Neue', sans-serif;
                        text-shadow: 0 1px 0 rgba(white, 0.45), 0 0 7px rgba(#fef0a9, 0.33);
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        color: #292929;


                        @include transform(rotate(45deg));
                    }
                }
            }
        }
        
        &:not(.awesome) footer .awesome-badge { display: none; }

        // Category color code
        &:before {
        	display: block;
        	position: absolute;
            top: 0; left: 0;
            width: 5px;
            height: 100%;
            
            @include border-radius(3px 0 0 3px);
            
            content: '';
        }

        &.category.fooddrink {
            $color: #c09159;

            footer { color: $color; }
            footer .price:before { @include spr-sprite('money-orange', true); }
            footer time:before { @include spr-sprite('clock-orange', true); }
            &:before { background: $color; }
        }
        
        &.category.shopping {
            $color: #a25d7a;
            
            footer { color: $color; }
            footer .price:before { @include spr-sprite('money-purple', true); }
            footer time:before { @include spr-sprite('clock-purple', true); }
            &:before { background: $color; }
        }
        
        &.category.experience {
            $color: #5da2a0;
            
            footer { color: $color; }
            footer .price:before { @include spr-sprite('money-green', true); }
            footer time:before { @include spr-sprite('clock-green', true); }
            &:before { background: $color; }
        }
    }
}