/******************************************************************
VARIABLES
******************************************************************/
$base-gradient: matte;
$list-pressed-color: mix(#08679F, #fff, 10);
$list-active-color: mix(#043F62, #fff, 0);
$img-path: '../images/';

/******************************************************************
IMPORTS
******************************************************************/
@import 'sencha-touch/default/all';
@import '_reset';
@import '_mixins';

// @include sencha-panel;
// @include sencha-buttons;
@include sencha-toolbar;
// @include sencha-list;
// @include sencha-layout;
// @include sencha-form;
// @include sencha-loading-spinner;

/******************************************************************
SEMANTIC HELPER STYLES
******************************************************************/
.left { float: left; }
.right { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/******************************************************************
BUTTONS
******************************************************************/
@include sencha-button-ui('sencha', #2E9A3E, matte);

/******************************************************************
GENERAL STYLES
******************************************************************/
#ext-mainview-1 { background: transparent; }

body { min-height: 580px; }

/******************************************************************
TOOLBAR STYLES
******************************************************************/
@include sencha-toolbar-ui('sencha', #84ab2b, glossy);
.x-toolbar-sencha .x-title { text-shadow: 0 1px 0 rgba(0,0,0,.8); }

/******************************************************************
DEALS LIST
******************************************************************/

#quickd-deals {
    background: url($img-path + 'bg-pattern.png');

    .x-scroll-view {  }
    .x-scroll-container {  }
    .x-list { background: transparent; }
    .x-list .x-list-item .x-list-item-label { padding: 0; overflow: hidden; } /* list item wrapping element */

    .x-list-item {
        margin: 10px 7px;
        background: white;
        @include border-radius(3px);

        // Shadow
        &:after {
            $url: $img-path + 'shadow.png';
            $w: 100%;
            $h: 14px;
            display: block;
            position: absolute;
            bottom: 0 - $h;
            
            width: $w;  height: $h;
            background: url($url);
            background-size: 100% $h;

            content: '';
        }

        .x-list-item-label {
            border: none;
            padding: 0;
        }
    }


    article[id*=deal_] {
        overflow: hidden;
        position: relative;

        img.deal_image { margin-left: 5px; }

        .deal-content { 
            margin-left: 90px;
            padding-top: 6px;

            h1 {
                @include text-overflow(ellipsis);
            }

            h2, > footer {
                font-size: 76%;
                line-height: 120%;
                color: gray;
            }

            footer { font-style: italic; }
        }
        
        // Category color code
        &:before {
        	display: block;
        	position: absolute;
            top: 0; left: 0;
            width: 5px;
            height: 100%;
            
            @include border-radius(3px 0 0 3px);
            
            content: '';
        }

        &.category {
            &.fooddrink:before { background: #5A4B53; }
            &.shopping:before { background: #00A388; }
            &.experience:before { background: #FF6138; }
        }
    }
}