.quickd-deal-background{
	background:black;
	height:100%;
	position:absolute;
	width:100%;
	color:white;
}
#quickd-deal-slider{
	height:170px;
}
#quickd-deal-slider .dealBackground .leftPanel{
	float:left;
	height:170px;
}
#quickd-deal-slider .dealBackground .rightPanel{
	float:left;
	height:170px;
}
#quickd-deal-slider .dealBackground .rightPanel .infoBox{
	padding: 5px 0 0 5px;
}
#quickd-deal-slider .dealBackground .rightPanel .title{
	
}
#quickd-deal-slider .dealBackground .rightPanel .information{
	
}
#quickd-deal-content{
	background:black;
	color:white;
}