.quickd-deal-background{
	background:black;
	height:100%;
	position:absolute;
	width:100%;
	color:white;
}
.quickd-deal-slide{
	background:black;
	color:white;
}
#quickd-deal-content{
	background:black;
	color:white;
}