<div class="deal-view" id='view-<%=data.id%>'>
  <% 
      var deal = data.template;  
      var imgSrc = deal.image ? IMG_URL+'thumbnail/'+deal.image : 'styles/stylesheets/i/no_image_small.png';
      var discount = deal.orig_price ? Math.round((deal.orig_price-deal.deal_price) / deal.orig_price * 100)+'%' : ''; 
  %>
  <span id="deal_title"><%=deal.title?deal.title:""%></span>
  <div class="deal-info">
    <img id="deal_image" src="<%=imgSrc%>" />
    <div class="deal-prices">
      <div class="deal-price">
        <h2>Normalpris</h2><span class="price" id="deal_orig_price"><%=deal.orig_price?deal.orig_price:""%>.-</span>
      </div>
      <div class="deal-price">
        <h2>Tilbudspris</h2><span class="price" id="deal_price"><%=deal.deal_price?deal.deal_price:""%>.-</span>
      </div>
      <div class="deal-price">
        <h2>Rabat</h2><span class="price" id="deal_discount"><%=discount%></span>
      </div>
    </div>
  </div>
  <div class="deal-times">
    <div class="field">
      <div class="description" id="deal_description"><%=deal.description?deal.description:''%></div>
    </div>
    <div class="field">
      <h3>Aktiv fra</h3>
      <span id="deal_starting_time"><%=getTimeString(parseInt(data.start)*1000, 'simple')%></span>
    </div>
    <div class="field">
      <h3>Aktiv til</h3>
      <span id="deal_ending_time"><%=getTimeString(parseInt(data.end)*1000, 'simple')%></span>
    </div>
  </div>
  <button class="button red remove-btn" id="btn_remove_deal" style="display:<%=data.status=='soldout'&&data.state!='ended' ? 'none' : 'block'%>">
    <%=data.state=='current'? 'Meld udsolgt' : 'Slet'%>
  </button>
  <h2 class="soldout" id="sold-out" style="display:<%=data.status=='soldout' ? 'block' : 'none'%>">Udsolgt</h2>
</div>