$header-color: black;
$text-color: #222;

$link-color: #0069D6;
$link-hover-color: #00438a;
$touch-tap-color: #fe57a1;

$select-color: white;
$select-bg-color: #fe57a1;

$error-color: #B94A48;
$success-color: #57A957;
$warn-color: #EEDC94;
