<div id="site_conditions">
    <div class="title">
   		<img src="./styles/stylesheets/i/quickd-logo-113x33.png" class="logo" />
    	Vilkår og betingelser
    </div>
    <div class="details">
    	<h1>HUSK AT FYLDE RIGTIGE BETINGELSER IND!!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec purus lectus. Nullam malesuada tellus ac leo tempor aliquet. Maecenas rhoncus sagittis arcu, non rhoncus odio consectetur eget. Donec in metus et felis accumsan pulvinar quis non arcu. Vivamus vehicula felis id libero tempus pretium et eleifend nisi. Donec ut urna mi. Sed tincidunt risus ut libero ullamcorper quis auctor arcu aliquet. Nulla mollis auctor enim ac pretium. Sed non sapien augue, et condimentum justo. Ut purus enim, dictum viverra aliquam vel, vulputate sed sem.
            </p>
            <p>
            Nulla vehicula, enim in feugiat ultricies, nibh quam congue sem, eget dignissim nulla leo eget erat. Nunc tellus magna, vulputate ut cursus vitae, euismod quis metus. Sed ipsum augue, sagittis sed eleifend ut, dignissim non risus. Nunc magna mauris, rutrum sagittis viverra et, volutpat et ipsum. Maecenas vel purus purus. Nulla feugiat ultricies commodo. Praesent sodales erat sem. Fusce sodales facilisis molestie. Nunc tincidunt fringilla porttitor. Ut mi magna, molestie ut consequat vel, sagittis ac mi. Aenean sit amet nulla sed neque elementum sodales.
            </p>
            <p>
            Pellentesque semper nisi nec odio iaculis in ornare nisi gravida. Donec sollicitudin eros vel augue euismod ut scelerisque odio gravida. Aenean vestibulum lacinia tempor. Mauris tincidunt, lacus ac placerat ullamcorper, nisl orci pretium nunc, hendrerit molestie orci erat id nibh. Aenean dolor justo, semper id aliquet quis, pharetra in magna. Aenean fringilla eleifend magna, ac dictum erat bibendum id. In rhoncus diam ut lacus rhoncus in malesuada libero sollicitudin. Morbi non quam dictum nibh bibendum blandit. Suspendisse vitae posuere purus. Ut suscipit orci sit amet lectus condimentum non varius libero tempus. Maecenas eget aliquet tortor. Duis varius rhoncus orci ac vulputate. Aliquam orci ante, pellentesque pulvinar fermentum sit amet, cursus ut arcu. Aliquam condimentum rhoncus dolor eget fringilla.
            </p>
            <p>
            Integer eu justo eu massa egestas egestas at in mauris. Vestibulum quis sem et enim bibendum vestibulum. Vestibulum lobortis porta nisl, ut ultrices ligula ultricies porttitor. Aliquam sagittis suscipit mi in mattis. Maecenas turpis magna, cursus sit amet fermentum eu, tristique sed mauris. Donec posuere ultricies lectus, eget porta ipsum luctus vel. Ut lacinia eros at leo venenatis condimentum. Pellentesque nulla odio, eleifend malesuada iaculis sit amet, mollis non ligula. Mauris tortor arcu, malesuada in congue at, varius et mi.
            </p>
            <p>
            Maecenas adipiscing venenatis massa sed laoreet. Sed iaculis massa vestibulum dui volutpat placerat. Praesent sed elit vel est fringilla eleifend ut sed sem. Phasellus quis urna sit amet libero sollicitudin tincidunt quis sed dolor. Suspendisse bibendum scelerisque est id placerat. Donec dapibus augue lorem. Nam scelerisque quam eu orci lacinia vitae tristique odio iaculis. Fusce sed dui sed tortor tempor ullamcorper. Morbi risus enim, fermentum in consectetur nec, aliquet in mauris. Fusce ullamcorper dui eu magna tempor lacinia. Nulla quis nisl vitae sapien tempor mattis. Curabitur ullamcorper arcu posuere ligula fringilla elementum.
            </p>
    </div>
    
 </div>