<div id="feedback_readmore">
    <div class="title">
   		<img src="./styles/stylesheets/i/quickd-logo-113x33.png" class="logo" />
    	Optjen gratis timer
    </div>
    <div class="details">
    	<div class="head">Vi vil gøre alt for at give dig den bedste oplevelse, og din ærlige mening er en stor hjælp i den proces.</div>
        <br />
        Hos <em>QuickD</em> belønner vi dig med gratis dealtimer, når du giver os konstruktiv feedback.<br /><br />
        Her i testfasen er det helt gratis at benytte QuickD, men på sigt vil du skulle betale en fast timepris mens dine deals kører. Ved at give feedback har du mulighed for at spare dealtimer op til senere brug, så du dermed forlænger den gratis prøveperiode.<br/><br/>
        Alt du skal gøre, er at hjælpe med at forbedre QuickD:<br /><br/>
        <b>Giv os feedback med forslag til forbedringer, så belønner vi dig med dealtimer til fremtidigt brug.</b>
    </div>
    
 </div>