<style>
	#uploaded_toolbar{
		width:220px;
		float:left;
		height:100%;
	}
	#uploaded_preview{
		float:left;
		width:400px;
		height:100%;
	}
</style>
<div id="imageSelector_dialog" class="image-selector">
    <div class="wrapper">
	    <div class="scroll-list content-area" id="gallery-view" <% if(data.view != 'gallery') print('style="display:none"'); %>>
            <div id="uploader-<%=data.cid%>" class="dropable">		
                <noscript>			
                    <p>Please enable JavaScript to use file uploader.</p>
                </noscript>
                <div class="text"><%= data.dragable?"Træk nye billeder hertil":"Tryk og upload nyt billede"%></div>     
            </div>
	    	<% _.each(data.images,function(item,i){ %>
	    		<div class="img-item <% if (data.selected && data.selected==item.n) print('selected')%>" id="<%='img_'+item.id%>">
                	<img src="<%=IMG_URL + 'thumbnail/' + item.n+'?'+item.rev %>"/>
                    <button class="button blue btn_edit" id="btn_edit_<%=item.id%>">Tilpas</button>
                </div>
	     	<% }); %>
            <div class="clearline"></div>	        
	    </div>
	    
	    <div class="content-area" id="edit-view" <% if(data.view != 'edit') print('style="display:none"'); %>>
	    	<div id="uploaded_view">
	    		<div class="controlpane">
	    			<div class="thumbnail" id="thumbnail_wrapper"></div>
	    			<input type="hidden" id="x"/>
	    			<input type="hidden" id="y"/>
	    			<input type="hidden" id="w"/>
					<input type="hidden" id="h"/>
	    			<input type="hidden" id="preview_name"/>
	    			
	    			<div class="buttons">
                        <button class="button blue" id="btn_rotate_left">Venstre</button>
                        <button class="button blue" id="btn_rotate_right">Højre</button>
                        <button class="button green" id="btn_select_img">Vælg billede</button>
                        <button class="button blue" id="btn_edit_cancel">Tilbage</button>
                    </div>
	    		</div>
                <div class="contentpane" id="image_edit_contentpane">
                	<div class="preview" id="preview_wrapper">
                    	<button class="button green" id="btn_edit_save">Gem</button>
                    </div>
                </div>		
	    	</div>
	    	
	    </div>
    </div>
 </div>