<div id="resetpassword_dialog">
    <div class="title">Glemt adgangskode</div>
    <div class="content">
    	<div id="newPassForm">
		    <div class="head">Indtast din e-mail, så sender vi en ny:</div>
		    <div class="reset_fields">
		        <div class="field">
		        	<label for="email">E-mail</label>
		            <input name="user" type="text" id="reset_email" value="<%= data.email %>" autocomplete="off"/>
		        </div>
		        <button class="button" id="btn_reset_button">Nulstil adgangskoden</button>
		    </div>
		</div>
		<div id="newPassSuccess" style="display:none;">
			<div class="head">Vi har sendt en mail med et link til en ny adgangskode</div>
		</div>
	</div>
</div>