<div id="resetpassword_dialog">
    <img src="./styles/stylesheets/i/quickd-logo-113x33.png" class="logo">
    <div class="head">Indtast din email-adresse, så sender vi dig en ny kode.</div>
    <div class="reset_fields">
        <div class="field">
            
            <input name="user" type="text" id="reset_email" autocomplete="off" hideLabel="E-mail"/>
        </div>
        <button class="button" id="btn_reset_button">Nulstil adgangskoden</button>
    </div>
    <div class="note">Dette er endnu ikke implementeret</div>
</div>