<div id="login_dialog">
    <img src="./styles/stylesheets/i/quickd-logo-113x33.png" class="logo">
    <div class="head">Indtast din email-adresse, så sender vi dig en ny kode.</div>
    <div class="login_fields">
        <div class="field">
            
            <input name="user" type="text" id="login_username" autocomplete="off" hideLabel="E-mail"/>
        </div>
        <div class="login_button" id="login_button"></div>
    </div>
    <div class="note">Dette er endnu ikke implementeret</div>
</div>