<div id="header">
	<div class="logo" id="logo_top"></div>
    <div id="navigation">
    	<div class="account">
        	<a href="<%= REAL_URL %>?logout" class="logout header_btn">Log ud</a>
            <span class="username"><%= data.email %></span>
        </div>
        <div id="analogueclock"></div>
   </div>
</div>
<div id="workspace">	
    <nav id="menu">
    	<ul>
    		<li id="btn_offers" class="menu_icon"><a>Mine tilbud</a></li>
    		<li id="btn_feedback" class="menu_icon"><a>Feedback</a></li>
    		<li id="btn_administration" class="menu_icon"><a>Administration</a></li>
    	</ul>
    </nav>
    <div id="activities"></div>	
</div>
<!--<div id="footer">-->
	<!--<div id="footer-links">
    	<span id="btn_read_conditions">Betingelser</span>|<a href="mailto:mail@quickd.dk">mail@quickd.dk</a>
    </div>
	<span class="copyright">Copyright © <%='2011-'+new Date().getFullYear()%> QuickD. All rights reserved.</span>-->
<!--</div>-->