<header id="header">
	<div class="logo" id="logo_top"></div>
    <div id="navigation">
    	<div class="account">
        	<a href="<%= REAL_URL %>?logout" class="logout header_btn">Log ud</a>
            <span class="username"><%= data.email %></span>
        </div>
        <div id="analogueclock"></div>
   </div>
</header>

<div id="workspace">	
    <nav id="menu">
    	<ul>
    		<li id="btn_offers">
                <a href="JavaScript:void(0);" data-icon="&#xe001;" title="Se alle dine tilbud her">Mine tilbud</a>
            </li>
    		<li id="btn_feedback">
                <a href="JavaScript:void(0);" data-icon="&#xe000;" title="Her kan du stille spørgsmål og få svar">Feedback</a>
            </li>
    		<li id="btn_administration">
                <a href="JavaScript:void(0);" data-icon="&#xe002;" title="Her ændre du oplysningerne for din virksomhed">Administration</a>
            </li>
    	</ul>
    </nav>
    <div id="activities"></div>	
</div>