
<div id="start_deal">
  <div class="set_template block" id="set_template_block">
	  <div class="label">Vælg skabelon</div>
	  <div class="data" >
      <div id="select-template-list"></div>
      <input type="hidden" value="" id="deal_templates"/>

    </div>
    <div class="clearline"></div>
	</div>
  <div id="stage-two" style="display:none">
  	<div id="time_block">
	  	<div class="type-selector" id="deal-type-selector">
				<div class="option first selected" id="type_instant">Impuls tilbud</div>
				<div class="option last" id="type_regular">Fast tilbud</div>
				<div class="clearline"></div>
			</div>
			<blockquote id="bubble_msg" class="bubble_message msg" style="display: none;">	</blockquote>
	    <div class="block set_time" id="instant_deal_block" style="display:block">
	        <div class="label">Tid</div>
	        <div class="data">
	            <div class="field start_time">
	                <label>Starttidspunkt</label>
	                <div class="subdata"><input type="text" placeholder="Tryk for at vælge" value="<% print(getTimeString(data.start_time, true)) %>" name="deal_start_time" id="deal_start_time" class="datepicker"></div>
	            </div>
	            <div class="field select-hours">
	              <div class="show_hours">
	                  <label>Varighed:</label>
	                  <span class="hours" id="deal_hours"></span>
	                  <label>timer</label>
	              </div>
	              <div id="deal_time_slider" class="time-slider"></div>
	              <div class="end_time">Sluttidspunkt: <span id="deal_end_time"></span></div>
	            </div>
	        </div>
	        <div class="clearline"></div>
	   	</div>

	   	<div class="block regular_deal" id="regular_deal_block" style="display:none;">
	   		<% var days = ['Man', 'Tirs', 'Ons', 'Tors', 'Fre', 'Lør', 'Søn']; %>
	   		<div class="label">Vælg tider</div>
	      <div class="data">
	      		<div class="field regular-days">
		      		<label>Hver:</label>
				    	<ul id="day-selector">
				    		<% _.each(days, function(day, key) { 	%>
				    			<li id="day-<%=key%>" class="day-block <% if(key<2) print('selected'); %>"><%=day%></li>
				    		<% }); %>
				    	</ul>
				    </div>
				    <div class="field regular-time" id="regular-time-field">
				    	<label>Fra:</label>
				    	<input type="text" placeholder="12:00" name="regular-deal-start-time" id="regular-deal-start-time" />
				    	<label>Til:</label>
				    	<input type="text" placeholder="15:00" name="regular-deal-end-time" id="regular-deal-end-time" />
				    	<div class="hint" style="display:none">Næste dag</div>
				    </div>
	      </div>
	   	</div>
	  </div>
    <div class="starter" id="starter_button">
        <button id="btn_submit_start_deal" class="green start_deal_btn">Planlæg tilbud</button>
    </div>
  </div>
</div>