RewriteEngine On
# Shopowner API
RewriteRule ^1/(login|reset|register|subscribe|fbconnect|logout) api.php?action=$1 [NC,L]
RewriteRule ^1/retailer/(templates|shops|feedback|images)/([0-9]{1,3})$ api.php?type=$1&id=$2 [NC,L]
RewriteRule ^1/retailer/deals/([0-9a-fA-F]{32})$ api.php?type=deals&id=$1 [NC,L]
RewriteRule ^1/retailer/(deals|templates|shops|feedback|images|all)$ api.php?type=$1 [NC,L]
RewriteRule ^1/retailer api.php?type=retailer [NC,L]